[2013-06-24 20:32] umaar opened #1 "Documentation for the documentation!"
Could we get a _contributing guide_ for this repo with instructions aimed at external contributors.

A readme with instructions on how to build locally might be nice, if possible.

[2013-06-25 02:24] #1 closed, assigned to nobody

[2013-07-08 17:48] jaredwilli opened #2 "De-capitalize shortcuts"

[2013-08-14 12:18] jaredwilli opened #4 "Updates needed on the shortcuts page"
All of this is in Chrome Canary/Stable on Windows 7.

The table of contents lists "Search Shortcuts" (https://developers.google.com/chrome-developer-tools/docs/shortcuts#search-shortcuts) but this doesn't exist and doesn't link to the anchor.

https://developers.google.com/chrome-developer-tools/docs/shortcuts#all-panels
            Backwards/forwards in panel history - the shortcuts are reversed

[2013-09-11 01:41] #4 closed, assigned to jaredwilli

[2013-09-11 01:42] #2 closed, assigned to jaredwilli

[2013-09-23 16:17] jaredwilli opened #5 "Add the different flags for searching like :"
I noticed it's possible to do Ctrl-P and write ":<linenumber>" to go to the linenumber.

http://src.chromium.org/viewvc/blink?view=revision&revision=157152

I imagine there are other similar types of shortcuts you can do which we should add too, if any. Need to at least add this one though.

[2013-09-25 19:39] jaredwilli opened #6 "Tips and tricks updates"
There's a number of typos and incorrect things on the tips and tricks page now.

Search for typos:
function cals
hten

And the mentions of ? for keyboard shortcuts are not right, since that opens the general settings. There's a couple places it mentions using it to view shortcuts on this page.

There's a couple other things too that aren't a thing anymore i noticed too. Will have to relook to see

[2013-09-25 19:40] jaredwilli opened #7 "Settings updates"
The settings need to be updated so they include new ones and don't include old ones no longer there.

[2013-11-11 16:53] addyosmani opened #11 "Bring Settings panel in line with Canary"
When we're ready.

[2013-11-15 00:43] #11 closed, assigned to nobody

[2013-11-15 00:45] paulirish opened #13 "console / command line API changes"
* console.timeline / timelineEnd() http://code.google.com/p/chromium/issues/detail?id=265360#c2
* table, debug commands now added. https://code.google.com/p/chromium/issues/detail?id=168776
* `trace()` accepts an arg: https://code.google.com/p/chromium/issues/detail?id=247915#c5
* `profile()` commands can be [nested](https://github.com/GoogleChrome/devtools-docs/issues/13#issuecomment-30672288)

[2013-11-15 00:49] paulirish opened #14 "Remote debugging updates"
- usb free
- screencast
  - inspect elem, kbd, mouse, scroll, etc
- portforward new UI
- squid proxy setup ( http://goo.gl/QHvdK )
- use beta!! google play link
  - might soon be in Play search

advantages of no wifi debugging:
- battery
- network
- stayawake

[2013-11-15 00:50] paulirish opened #15 "Emulation doc"
- no more overrides
- new hot stuff. details forthcoming

[2013-11-23 04:31] paulirish opened #17 "Add redirect for heap profiler docs"
[google search for "heap profiler"](https://www.google.com/search?q=heap+profiler&oq=heap+profiler&aqs=chrome..69i57.3685j0j7&sourceid=chrome&espv=210&es_sm=91&ie=UTF-8)

the top result is a deprecated page. let's redirect toward the new uber-memory-profiling page.

[2013-11-27 02:32] #7 closed, assigned to jaredwilli

[2013-11-28 16:55] addyosmani opened #18 "DevTools Screencasting"
@jaredwilli is working on an addition about the new screencasting feature. We'll probably roll that into the remote debugging doc once it's been completed. Jared, could you give us an update on where you are with the current draft? Could we expect to see a PR in tomorrow that we might be able to review? :)

[2013-12-02 21:19] #18 closed, assigned to nobody

[2013-12-02 21:21] #17 closed, assigned to addyosmani

[2013-12-02 21:48] jaredwilli opened #21 "Rendering settings to totally changed"
Track making a new Rendering Settings doc
We'll link to it from the devtools ui
- @paulirish

[2013-12-04 15:40] jaredwilli opened #22 "More shortcuts to add"
Just wanted to record these before I forgot about them...

Styles sidebar:
Cmd+Click on property
Cmd+Click on value

Screencast:
Opt+Scroll and
Cmd+two finger click drag to zoom

Emulation:
Shift+Scroll to zoom

Incorrect shortcuts in doc:
Cmd+D to delete line in Sources

[2013-12-05 17:12] #15 closed, assigned to nobody

[2013-12-06 21:06] paulirish opened #24 "Asynchronous JS stacks"
They're now supported with a setting enabled:
https://codereview.chromium.org/80383004
https://code.google.com/p/chromium/issues/detail?id=272416

We'll need docs for this, on the settings side, and probably on the JS debugging side as well.

![image](https://f.cloud.github.com/assets/39191/1695905/46c77394-5eba-11e3-91db-331df66ef565.png)

[2013-12-09 17:55] addyosmani opened #26 "Screenshot update sprint"
This issue is to track what pages we would like to update screenshots on for the sprint we'll be doing in early January.

It'll also be super-useful for us to decide on:
- target image width/height
- prefer dock-to-right? own window?
- white background?
- callouts (arrows etc)

[2013-12-12 18:02] paulirish opened #28 "Timeline panel updates"
![image](https://f.cloud.github.com/assets/39191/1729735/20ab5548-62c7-11e3-830e-5cccc654550f.png)
![image](https://f.cloud.github.com/assets/39191/1729742/42758630-62c7-11e3-9e0c-2c972e760a26.png)
![image](https://f.cloud.github.com/assets/39191/1735584/68de87c8-6357-11e3-909d-7bfde4a2d0b1.png)
![image](https://f.cloud.github.com/assets/39191/1735615/0582a334-6358-11e3-8771-dfde1d2dd483.png)
- De

[2013-12-16 16:04] paulirish opened #29 "Virtual Host mapping via Squid Proxy"
This is a pro-move that works for port forwarding:  http://www.html5rocks.com/en/tutorials/developertools/mobile/#comment-1153350501

[2013-12-16 16:14] paulirish opened #30 "Workspaces & LiveEdit"
- workspaces. how do they work
- WS & Sass
- LiveEdit is a gateway drug into workspaces, but its also a complement when you're using them
  - its not clear how many people start with which feature
- include links to Remy's stuff.
- what "[VM] file (322)" means
- When changing a file, why it adds \* to the end of filename and what that means
- Explain saving: Ctrl/Cmd + S vs right click and Save/Sa

[2014-01-03 14:27] addyosmani opened #31 "Update JavaScript Debugging"
_edit from paul_: this is a massive bug thread. half of it is fixed but many issues raised by pearl are not. We'll keep this one open for now and will help guide a future js debugging tutorial.

https://developer.chrome.com/devtools/docs/javascript-debugging
https://github.com/GoogleChrome/devtools-docs/blob/master/docs/javascript-debugging.html

<hr><hr><hr>
There are a few different pieces that

[2014-01-03 15:01] addyosmani opened #32 "Document DCC limitations for external contributors"
* Inline JS vs. external scripts
* New site doesn't support markdown (yet)
* Image specifications (resolution, filesize)
* Callout styles (link to video, copy in from our doc)

[2014-01-06 12:42] addyosmani opened #33 "CLAs required?"
Yo! @paulirish A few of our teams (e.g Dart) require CLAs before external contributions can be landed to their docs.

Possible to get a confirm on whether this will be needed for this repo as it's CC?

[2014-01-11 00:44] paulirish opened #35 "New new new!"
We got some feedback from engineering that we can do a better job highlighting what's new and changed in the docs.

![image](https://f.cloud.github.com/assets/39191/1892748/40f5940e-7a59-11e3-943d-a25a56f81b00.png)

That includes:
- making use of above navigation badges
- calling out newness/changes at the top of the docs
- preferring new content at the top vs old (js profiling content before flam

[2014-01-11 02:06] #33 closed, assigned to nobody

[2014-01-11 02:19] paulirish opened #37 "Publish the latest stuff"
Here's what's queued up to get published:
https://github.com/GoogleChrome/devtools-docs/compare/552e81f7c7c60d013ca21feec9be6225b8e0de53...master

It's a LOT.

Remaining:
- [x] the great image cull #36  (optional)
- [x] pull commits into remote p4 instance
- [x] p4 add/remove/change everything that's changed
- [x] put up a CL
- [x] @addyosmani and @dr4b review on that CL
- [x] submit it and publis

[2014-01-13 18:43] #5 closed, assigned to jaredwilli

[2014-01-15 00:18] paulirish opened #39 "style updates for DCC"
current styles: https://code.google.com/p/chromium/codesearch#chromium/src/chrome/common/extensions/docs/  static/sass
- [ ] [span.kbd styling](https://developers.google.com/chrome-developer-tools/docs/shortcuts#opening-devtools)

I'm sure we'll find more as we Q/A the docs in DCC. let's just update this ticket so we can tackle them in one go.

cc @dr4b @Meggin

[2014-01-15 02:25] paulirish opened #40 "DevTools writeup: the long resume"
we need coverage for this feature in the docs. also in a digest makes sense.

![image](https://f.cloud.github.com/assets/39191/1917147/3446dc6e-7d8c-11e3-81f9-c8cc7b57f395.png)
1. When paused, resume button has an additional button "Resume with all pauses blocked for 500 ms". This makes all breakpoints disabled for half a second, meant as a quick way of getting the program to its idle state, for s

[2014-01-15 02:32] paulirish opened #41 "LiveEdit complexity demo"
below is a dump of data about how LiveEdit works and its limitations and some pretty wild demos to show it's power.

there is additional info in a thread (between peter and jjb that could be useful to surface. i can share with those interested.

<hr>

Hi guys

To illustrate core concepts of LiveEdit and discuss how we can make LiveEdit more obvious for user, I hacked together a small demo site:

h

[2014-01-15 02:47] paulirish opened #42 "Flamechart update"
this is a small addition:

the colors in the flamechart are reused for same functions. this helps you see a common pattern and then spot outliers better.

there is no correlation to colors used in timeline for things.

[2014-01-15 02:55] paulirish opened #43 "blog post on CSS sourcemaps and how it works"
i'm thinking a combo of
- Umar's nettuts posts for both Less & Sass
- [the current status of other projects](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/css-preprocessors.html#L115)
- pulling other things [from the docs](https://developers.google.com/chrome-developer-tools/docs/css-preprocessors)
- a video screencast.
- nice and accessible with step by step instructions.

callin

[2014-01-15 11:31] addyosmani opened #44 "Screenshot sprint: T&T, Authoring, Memory Profiling"
There have been a *lot* of changes made to the Canary DevTools since this doc was first authored. We currently have sections on..

* Console
* Timeline
* Sources
* Network
* Settings
* Profiles

Let's look at which shots are completely out of date and replace with retina.

Doc: https://developers.google.com/chrome-developer-tools/docs/tips-and-tricks

[2014-01-15 11:34] addyosmani opened #45 "Screenshot sprint: Authoring Workflow"
I recently updated the screenshots in this doc, but there are still a few images that could be refreshed. We should also finally drop the section on Tincr as we've had Workspaces for a while.

Time allowing, also be solid to link to the latest H5R blog-posts that talk about authoring feature updates.

Doc: https://developers.google.com/chrome-developer-tools/docs/authoring-development-workflow

[2014-01-15 11:36] addyosmani opened #46 "Screenshot sprint: JavaScript Memory Profiling"
Compare the current screenshots in memory profiling to the Canary DevTools and find out what has changed. We'll want to drop docs for any features that were removed.

Doc: https://developers.google.com/chrome-developer-tools/docs/javascript-memory-profiling

[2014-01-15 11:41] addyosmani opened #47 "Screenshot sprint: Evaluating Network Perf"
The toolbar position changes in the Network panel will require 4-5 screenshots to be updated in the corresponding doc. @jaredwilli do you think you'll get around to them this week?

![screen shot 2014-01-15 at 11 40 05](https://f.cloud.github.com/assets/110953/1919765/e5d5bac0-7dd9-11e3-9c69-d32268071de5.png)

Doc: https://developers.google.com/chrome-developer-tools/docs/network

[2014-01-16 14:47] addyosmani opened #49 "Document DevTools extension API workarounds"
Common asks from developers (braindump from my STP talk):

* Communicating between a panel, DevTools page and a bg page. Implied as the documentation says chrome.extension runtime APIs not available. Unfortunately, no alternatives offered.
* Better hooks for letting a framework augment rendered console objects. Allows you to differentiate between framework specific objects and meta-objects.
* It's

[2014-01-17 00:27] paulirish opened #51 "Devtools extensions updates"
We're currently lacking proper documentation for
- [chrome.devtools.panels.openResource()](https://src.chromium.org/viewvc/blink?revision=151672&view=revision)
-  ([300165](https://code.google.com/p/chromium/issues/detail?id=300165),
    [300077](https://code.google.com/p/chromium/issues/detail?id=300077)). `chrome.devtools.panels.sources` and `preprocessorScript option for inspectedWindow.reload`

[2014-01-17 01:30] paulirish opened #52 "Share *all* the DevTools resources"
I just dropped https://github.com/GoogleChrome/devtools-docs/wiki/Content-Inventory which has all the resources on the web for devtools that we've found. (feel free to update/maintain it)

We've been ruminating around an idea of publishing this on the site.. probably merging together these pages:

![image](https://f.cloud.github.com/assets/39191/1936962/0cb81fc8-7f17-11e3-9424-189fe03cf6fc.png)

a

[2014-01-17 02:01] paulirish opened #53 ""Not optimized" JavaScript profiler bailout reasons"
_Edit (sept 2015)_: This issue is the living documentation for the deopt & bailout reasons provided by Chrome DevTools and the V8 sampling profiler.

![image](https://f.cloud.github.com/assets/39191/1937117/fb082f44-7f1a-11e3-9e16-ec69c6fce0ef.png)
## Should I care?

A deopt warning is important to consider if:
- You've profiled a slow interaction
- When viewing a Costly Functions / bottom-up / He

[2014-01-17 15:38] addyosmani opened #54 "Create a priority label and assign to docs issues"
We're seeing some really fantastic ideas posted for new docs on the tracker.

Now that we're using it to manage what we're working on it would be great to assign priority labels to them so the team know what needs to be completed first. It might also be useful for community members interested in getting involved.

We could go for ['low','medium','high'] or ['P0','P1','P2'] etc.

@paulirish wdyt?

[2014-01-17 15:40] #43 closed, assigned to nobody

[2014-01-22 21:00] #21 closed, assigned to jaredwilli

[2014-01-26 16:43] japrescott opened #58 "emulation preset galaxy note 3"
Hello CHrome Dev Team
I don't know where to address this, so I will do it here

The presets in the emulation tab arent correct for the galaxy note 3. The devicePixelRatio should be 2.5(webview) or 3 and not 2.

Thank you for fixing this. I love the emulation!

keep up the good work!

[2014-01-29 06:51] paulirish opened #59 "Cmd-o, cmd-shift-o"
do we have these two documented anywhere? They're quite powerful, so we should make sure we capture it.

Also: jump to column was just added.
cmd-o, then ":32:44"  jumps to line 32 col 44.
https://code.google.com/p/chromium/issues/detail?id=337909#c5

[2014-02-03 15:41] pearlchen-old opened #61 "_preview.html will need to be updated with developer.chrome.com JS/CSS"
Heads up that the preview template will need to be updated as DevTools content gets moved to developer.chrome.com instead of developer.google.com.

[2014-02-04 19:30] umaar opened #62 "Validating docs through automation"
@paulirish @addyosmani I've noticed a few times that there have been very minor errors in the docs, such as spelling or some incorrect HTML for example. How about we rely on automation to validate (at least) the HTML markup? There are a bunch of NPM modules which could assist with this, maybe even having Travis actually run the 'tests' could be nice?

[2014-02-10 02:28] #37 closed, assigned to paulirish

[2014-02-10 03:23] #52 closed, assigned to nobody

[2014-02-17 07:58] #14 closed, assigned to paulirish

[2014-02-19 01:53] paulirish opened #64 "Emulation limitations"
Emulation mode doesn't emulate a few things people think it may:
#### general
- Features that Chrome supports and the device/browser doesnt
  -  - e.g., no WebGL in iOS7, no `line-height` in Opera Mini
- Features that Chrome doesn't support and the device/browser does
  - e.g. MathML in iOS7
- browser quirks/bugs
  - [iOS 5 orientation zoom bug](https://github.com/scottjehl/Device-Bugs/issues/2),

[2014-02-19 04:55] paulirish opened #65 "Show Potential Scroll bottlenecks / Scrolling Perf Issues"
This feature is kind of black magic (to me, at least). Let's try to demystify it a bit.

[code]

https://code.google.com/p/chromium/codesearch#chromium/src/cc/debug/layer_tree_debug_state.cc&sq=package:chromium&type=cs

https://code.google.com/p/chromium/codesearch#chromium/src/content/renderer/gpu/render_widget_compositor.cc&sq=package:chromium&type=cs&q=RenderWidgetCompositor::setShowScrollBottl

[2014-02-20 15:00] #47 closed, assigned to nobody

[2014-02-20 17:48] auchenberg opened #67 "Documentation of HTTP Remote Debugging API"
I was browsing the [source](https://chromium.googlesource.com/chromium/chromium/+/trunk/chrome/browser/devtools/devtools_adb_bridge.cc) of Chromium to learn more about the HTTP Remote Debugging API in Chrome, as I've been unable to find documentation for this API.

Is it intentionally left undocumented, or should an effort be started to document this AP?

/k

[2014-02-24 20:34] jaredwilli opened #68 "JS memory profiling page has broken links"
There are a number of links on the JavaScript Memory Profiling page that are not linking to the correct location. The hrefs look like: href=#heading=h.3gfl4k8caz0k

Clicking them doesn't do anything, and they should jump you down the page to different headings it seems. The links before the tree nav for the page I think mainly are wrong but there could be others.
https://developers.google.com/chro

[2014-03-03 18:01] #35 closed, assigned to nobody

[2014-03-25 00:21] paulirish opened #71 "chrome.devtools.inspectedWindow.reload({ preprocessorScript })"
The Chrome Devtools JavaScript preprocessor intercepts JavaScript just before it enters V8, the Chrome JS system, allowing the JS to be transcoded before compilation. In combination with page injected JavaScript, the preprocessor allows a complete synthetic runtime to be constructed in JavaScript.

(basically, it's crazy awesome)

It's most documented over here: https://code.google.com/p/chromium/

[2014-04-04 22:25] paulirish opened #73 "Allocation profiler - memory heap allocation analysis"
## watch this:

<a href="https://www.youtube.com/watch?v=ZKzw3VEqifw">
![image](https://cloud.githubusercontent.com/assets/39191/5909643/562aff8c-a567-11e4-92b6-198a2dd22be9.png)
</a>
## Instructions to use heap allocation profiler
1. open devtools profiler
2. do a warm-up action
3. start allocation profiler
4. repeat action a few times
5. if the action has a leak you will see the same number of g

[2014-04-24 15:12] #68 closed, assigned to nobody

[2014-04-24 15:18] #54 closed, assigned to nobody

[2014-04-24 15:20] #26 closed, assigned to addyosmani

[2014-04-24 15:33] #22 closed, assigned to jaredwilli

[2014-04-24 15:43] #42 closed, assigned to nobody

[2014-04-24 16:00] #59 closed, assigned to nobody

[2014-04-25 18:54] #40 closed, assigned to nobody

[2014-05-03 14:32] Garbee opened #79 "Images 404ing in production on landing page"
On the [landing page](https://developers.google.com/chrome-developer-tools/) of the docs there are supposed to be images for the different panels. Looking into the [root images](https://github.com/GoogleChrome/devtools-docs/tree/master/images) folder in the repository, they are all there. So it appears as if something went wrong in a deployment.

[2014-05-03 16:25] Garbee opened #80 "Improve the network throttling section for mobile"
The [mobile emulation](https://developers.google.com/chrome-developer-tools/docs/mobile-emulation#network-throttling) section tells developers what tools are available however it doesn't cover what some decent settings to test against would be. I have seen in some performance talks from @igrigorik that there are known ranges for the network latency. For example (if I am reading correctly) the Cont

[2014-05-05 17:08] #79 closed, assigned to nobody

[2014-05-05 17:42] Garbee opened #81 "Centralizing minor images"
## The task

So there are minor images around like [Keep log on](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/network-files/keep-log-on.png) (and its counterpart off), [Refresh](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/resources-files/refresh.png), and [Clear](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/resources-files/clear.png). It would

[2014-05-13 15:54] #29 closed, assigned to nobody

[2014-05-13 22:28] paulirish opened #82 "Bugs on DCC"
I'm collecting a few things I see. Would love some other eyes and even better, some fixes on these items.

#### Missing images on homepage:
![image](https://cloud.githubusercontent.com/assets/39191/2964948/1cfb0e2c-daed-11e3-8ebe-75ab8bead001.png)

#### h3 and h4 have same styling:
![image](https://cloud.githubusercontent.com/assets/39191/2964951/27a72d1a-daed-11e3-8d5d-bbb39974a349.png)

#### awk

[2014-05-13 22:40] Meggin opened #83 "Files that were in devsite aren't in GitHub"
Hey, guys

When putting in devsite redirects, the following files were in devsite but not in DevTools GitHub repo:

/docs/flame-chart.html
/docs/inline-install-bug.html
/docs/remote-debugging-legacy.html
/docs/protocol/0.1/index.html
/docs/protocol/1.0/index.html
/docs/protocol/1.1/index.html

Do you need a local redirect for this?

[2014-05-13 22:40] paulirish opened #84 "Fix redirects"
from @Meggin

It might be good to create a local redirects file to deal with the following:

   - /docs/flame-chart.html
   - /docs/inline-install-bug.html
   - /docs/remote-debugging-legacy.html
   - /docs/protocol/0.1/index.html
   - /docs/protocol/1.0/index.html
   - /docs/protocol/1.1/index.html

meggin, how do we set up new redirects?

[2014-05-16 04:36] #83 closed, assigned to nobody

[2014-05-16 04:51] #61 closed, assigned to nobody

[2014-05-16 04:53] #45 closed, assigned to addyosmani

[2014-05-16 04:53] #46 closed, assigned to addyosmani

[2014-05-16 04:53] #39 closed, assigned to nobody

[2014-05-16 04:55] #6 closed, assigned to jaredwilli

[2014-05-16 04:56] #58 closed, assigned to nobody

[2014-05-17 11:55] Garbee opened #89 "Preview images in readme"
The preview images in the readme should be updated since things now take the developer.chrome.com style. I created new images:
- [Initial preview page](http://i.imgur.com/SHnERdy.png)
- [Preview of a specific page](http://i.imgur.com/uwtGg4S.png)

However, these are being linked to from within github in a way that I have no clue if I can even get stuff there. So if someone from the team could get

[2014-05-19 17:24] #80 closed, assigned to nobody

[2014-05-19 17:26] #89 closed, assigned to nobody

[2014-05-21 21:51] Garbee opened #95 "Document console.timeline() API"
The [console API](https://developer.chrome.com/devtools/docs/console-api) reference doesn't currently include the timeline and timelineEnd methods. So I'm going to get these documented soon.

[2014-05-22 15:37] #95 closed, assigned to nobody

[2014-05-30 18:11] Garbee opened #100 "Fresher look at extending DevTools"
A page should be added for guiding people in debugging their extensions. I think it should go under [the integrating](https://developer.chrome.com/devtools/docs/integrating) docs, so I'll start working on a page under that stuff.

Currently planning for:
* How to inspect the dev tools

Since I haven't built any extensions yet, if there are any other common issues people have with debugging extensi

[2014-06-05 01:51] filipmandaric opened #103 "CSS fixed table-layout bug"
Something small, but pretty quirky. This bug makes CSS tables seem as if they're governed by voodoo magic, which they aren't of course!

Steps to reproduce:
1. Load the below HTML in Chrome.
2. Notice that short_string is all the way on the left and long_string begins precisely in the middle as it should.
3. Inspect the div.table
4. Uncheck the rule "table-layout: fixed;". And then uncheck "width:

[2014-06-05 02:01] #103 closed, assigned to nobody

[2014-06-13 18:20] Garbee opened #108 "[Mobile Design] Menu unusable."
When trying to open the menu on my Moto X, it has such a small height I can get to anything.
![bad_menu](https://cloud.githubusercontent.com/assets/868301/3273694/fcfe60ea-f326-11e3-94ac-5892dff1ee6a.png)

[2014-06-13 20:05] paulirish opened #109 "console.trace/time/timeline updates"
Followup from #93 and #13…
- lets show an example from remysharp on how we can pass args to console.trace effectively
- calling `console.timeline()` a few time works fine, it just concatenates onto a longer recording in the devtools.

[2014-06-14 13:52] pearlchen-old opened #110 "[dom&styles] animations are not responsive"
1) Go to https://developer.chrome.com/devtools/docs/dom-and-styles
2) Resize browser window to about 700px or similar
3) Scroll down page --> animated images are not responsive

[2014-06-16 18:10] #108 closed, assigned to nobody

[2014-06-21 23:42] wellingguzman opened #111 "Text spacing"
While reading the documentation I find myself into couple of (_probably_) mistakes.

Right now I bump into a couple in here:
https://developer.chrome.com/devtools/docs/contributing
- On the first paragraph it reads _helping out with documenting **featuresor** writing_
- On the second paragraph it reads _all of the **followingare** different_

And the list goes on, so I don't know if it's my browse

[2014-06-23 12:46] #81 closed, assigned to nobody

[2014-07-18 06:19] #51 closed, assigned to nobody

[2014-07-18 06:24] paulirish opened #121 "[extension API] devtools.panels docs clarity"
https://developer.chrome.com/extensions/devtools_panels is a little hard to follow.

I'll try to summarize here. Two existing devtools panels can be extended: sources & elements:

[code]

The three APIs available to those objects are are:

[code]

Then we also have these methods:

[code]

Then theres a slew of events available for panels and sidebar panes to bind to. And a few `set…` methods to di

[2014-07-25 14:54] mralexivy opened #122 "Automatically apply styles without "enter""
It would be really nice to add live style changes without hitting on "enter" when editing html , (like it works in firebug) , hitting on "enter" each time to apply the change just a waste of time to see what is the result.

[2014-08-04 13:12] Garbee opened #123 "[Proposal] Contributing.md addition"
The current contribution section in the readme is pretty lightweight. I've drafted a full contributing file in [this Google Doc](https://docs.google.com/document/d/1wHkrBxXLNvFdEcsFTG5H_bjaSS9BGxo5CpJbZ0ameEY/edit?usp=sharing). It is open for public comments.

It attempts to cover everything someone looking to contribute will need to know along with helpful tips/tools for getting the job done well

[2014-08-06 18:07] Garbee opened #125 "[Proposal] New section - Workflow"
So, Paul put out a request a week or two ago for videos showing developers and how they use the tools starting a project. Then when reading [Girliemac's article](http://girliemac.com/blog/2014/07/28/devicemode/) on Device Mode I saw where she was mentioning things being used with workspaces.

We should document this stuff. A specific section in the docs for different workflow setups. Integrating d

[2014-08-06 18:59] Garbee opened #126 "[Proposal] Remove _redirects.yaml and _book.yaml"
Do either of these files still serve a purpose?

The redirects yaml appears to be superseded on DCC by redirects.json. I'm not sure what the _book.yaml file ever did.

[2014-08-08 20:34] #122 closed, assigned to nobody

[2014-08-08 20:41] #71 closed, assigned to nobody

[2014-08-08 20:42] #123 closed, assigned to nobody

[2014-08-08 21:54] Garbee opened #131 "404 on device-mode image."
So, the Device Mode docs are pulled. But, the CSS Emulation's After image in the example is 404ing since it is referencing mobile-emulation instead of [device-mode-files](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/device-mode.html#L400) in the source. I have no clue where things are getting confused.

[2014-08-08 22:07] #126 closed, assigned to nobody

[2014-08-08 23:40] #131 closed, assigned to nobody

[2014-08-11 19:01] #64 closed, assigned to paulirish

[2014-08-12 21:27] Garbee opened #137 "[Enhancement?] - Should we add a little why to the docs?"
So, I've been around a certain person on Reddits history... They have [repeatedly](http://www.reddit.com/r/web_design/comments/2ckm6d/i_made_my_website_responsive_can_you_guys_tell_me/cjgqdj2) recommended that the [emulation is wrong](http://www.reddit.com/r/web_design/comments/2d9mws/til_chrome_dev_tool_for_mobile_emulation/cjnklu1) or somehow inferior to simply resizing the browser window.

Is t

[2014-08-12 21:45] Garbee opened #138 "Check for 404's and get them fixed"
Does anyone know of any tools for checking sites automatically for 404 errors routinely? I ran a check today using linkchecker and there are quite a few 404's on other resources (like a few [WPD](http://www.webplatform.org) links from their move.) I would like us to get a system for automatically checking for bad links in the devtool docs so we can stay on top of keeping things clean.

If a tool d

[2014-08-13 19:14] Garbee opened #139 "Sourcemaps functionality"
In IRC someone was asking about the integration of sourcemaps within DevTools. Specifically about the sources panel based on an older [H5R](http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/) article.  We should document sourcemaps integration fully in a single document that can be kept up-to-date as things change.

[2014-08-18 12:14] Garbee opened #140 "Tips and Tricks out of control?"
I came across the [Tips and Tricks](https://developer.chrome.com/devtools/docs/tips-and-tricks) page of the docs this morning. It looks like a monolithic grab-bag of features that are well documented (sometimes even pretty exact) in other areas mixed in with things that really should be called out for either not fitting into other areas or being really niche uses that may come in handy.

For examp

[2014-08-18 22:06] Garbee opened #142 "Simplify language in resource network timing section."
While also applicable to other content on this page, specifically we should try to either simplify the language more in the [network timing section](https://developer.chrome.com/devtools/docs/network#resource-network-timing) of evaluating network performance and/or link to resources to help developers understand what is going on in more detail.

This is spawned by a post on a moderator for the upc

[2014-08-19 20:44] paulirish opened #143 "[extension API] messaging flow"
https://developer.chrome.com/extensions/devtools has great overview of communicating between the various pieces, but it's still a little incomplete.

One tricky area is passing messages from a contentscript back into a devtools panel.

There's no direct connectivity between the page being inspected and DevTools extension panels -- we usually recommend this flow: DOM messaging from the injected ins

[2014-08-19 23:58] #111 closed, assigned to nobody

[2014-08-21 04:40] paulirish opened #145 "Add date modified to docs"
https://twitter.com/cancelBubble/status/502181295095816192
![image](https://cloud.githubusercontent.com/assets/39191/3991898/2165260c-28ed-11e4-951c-96222943c967.png)

I can empathize with this.
We should do this.

We could probably even provide a changelog via our git commits if we wanted to go that far.
- @cancelbubble

[2014-08-21 08:14] #142 closed, assigned to nobody

[2014-08-24 05:45] paulirish opened #149 "devicePixelRatio emulation"
What entirely does it do? I was curious, too! So here's the comprehensive rundown. Lets add this in.

* any asset changes based on DPR are toggled
  * `@media  (-webkit-min-device-pixel-ratio: 2),  (min-resolution: 192dpi) { … }`
  * `background: image-set(…) `
  * srcset="…"`
*  It also affects `window.devicePixelRatio` value which is supposed to be used by authors for HiDPI canvas rendering.
  *

[2014-08-24 16:35] Garbee opened #151 "Add information on debugging modified remote scripts"
In IRC someone asked about seeing local modifications to a remote file on reload. There is a [bug report](https://code.google.com/p/chromium/issues/detail?id=91852) open for this currently since it is not directly possible. However there is a switcharoo extension that still works which should be mentioned until the bug report is filled since it allows for this kind of behavior to be done.

[2014-08-25 22:10] Garbee opened #152 "[Meta] Full Audit"
The entire documentation can use a run-through to gather as many issues as possible to be fixed. Once I get the next two PRs that I'm working on pulled and made then I'll work on this.

Steps to complete:

1. List every page in the docs.
1. Go through each page of documentation, even the latest content.
1. Make a new issue for each page with content issues.
    * list and detail what needs improvi

[2014-08-29 21:24] Garbee opened #154 "Document usefulness of different view modes"
Drawing from the conversation in [crbug](https://code.google.com/p/chromium/issues/detail?id=408242#c5) about this, I feel it would be nice for us to actually explain when it might be best to use the different view modes to people.

[2014-09-03 23:12] Garbee opened #156 "Document filtering in network panel"
The network docs already covering some of the main UI features for filtering, but not filtering via the search box. This kind of thing came up on [twitter](https://twitter.com/andrewray/status/507264463976681472) would be nice if we had something in place to help with discovering this.

[2014-09-09 14:43] #137 closed, assigned to nobody

[2014-09-15 18:08] paulirish opened #159 "hacking on devtools notes"
ws query parameter
&experiments  query parameter

[2014-09-16 07:15] yairneumann11 opened #160 "Devtools causes chrome(37.0.2062.94 (64-bit) to crash"
trigger bug:
not sure to say how to trigger the crash but it might have to do with dragging a file over the devtools sources panel but dropping it in the extensions(chrome://extensions), this causes sources tab to freeze.

I'm still not sure what causes the "Oh snap" but here is my system info:
centOS 7
Memory: 16
Processoor: Intel® Core™ i7-4770 CPU @ 3.40GHz × 8
OS Type: 64-bit
Graphics: Gallium

[2014-09-22 17:57] #160 closed, assigned to nobody

[2014-09-22 19:25] Garbee opened #161 "Portal page structure outline"
Large topics that already exist, such as JS Debugging, or that will exist soon, like Performance (Rendering, Memory, etc.) need a new structure. Currently, JS Debugging is one big page covering the whole topic. This is confusing to developers and isn't useful to people just learning.

# Portal pages

Portal pages should be what replace monolithic topic pages. These will be used for topics that hav

[2014-09-25 15:56] addyosmani opened #163 "Document hollow green bars in Timeline"
Hollow green bars mean the compositor spawned a worker to rasterize (actually paint pixels) to your page whereas solid paint blocks are Chrome recording the draw calls needed beforehand. So solid blocks = recording draw calls, hollow ones are them being played to fill pixels.

We should document this in the Timeline docs as they aren't currently covered (afaik).

h/t to @paullewis for clarifying.

[2014-09-29 18:40] jaredwilli opened #167 "Create blogpost from Advanced debugging deck"
Slides - https://docs.google.com/presentation/d/17HjGp4pQlNh2WIwKiTcUpDLIuOdkUcRmALFuoytQsjU/edit#slide=id.p
Video - https://www.youtube.com/watch?v=B63jNjSVEbQ&feature=youtu.be

Create post for h5r from this content
cc @paulirish

[2014-09-29 18:56] paulirish opened #168 "inspector.html ==> devtools.html"
As of last week in Blink ToT, the devtools host page was renamed from `inspector.html` to `devtools.html`. https://chromium.googlesource.com/chromium/blink/+/972eacc8db2d778cebcf93acfe4ce2ec0467ee5e

Any downstream projects that reuse the devtools frontend UI will need to be updated once they pull in the latest UI.

cc @bajtos : node-inspector
cc @pmeenan : webpagetest
cc @turnerhayes : webkit-dev

[2014-09-29 19:00] #168 closed, assigned to nobody

[2014-10-03 13:43] jaredwilli opened #171 "Shortcut for device mode"
Need to add to shortcuts doc
Ctrl/Cmd + Shift + M - toggle device mode

https://twitter.com/addyosmani/status/517803780960563200

[2014-10-03 13:55] #171 closed, assigned to nobody

[2014-10-14 22:32] robdodson opened #173 "Layout thrashing article seems out of date"
I was taking a look at the [layout thrashing article](https://developer.chrome.com/devtools/docs/demos/too-much-layout/index) today and noticed that the screenshots and instructions seem out of date.

In M38 the location of the Events view is different from the screenshot, and I no longer see Layout records

![screen shot 2014-10-14 at 3 29 45 pm](https://cloud.githubusercontent.com/assets/1066253

[2014-10-16 07:28] paulirish opened #174 "sourceURL and usecases"
We do have docs here, but this might make sense for a focused blog post or SO answer.

docs: https://developer.chrome.com/devtools/docs/javascript-debugging#@sourceurl-and displayname in action

Use cases:
- assigning a source filename to
  - eval()
  - [executeScript()](https://code.google.com/p/chromium/issues/detail?id=95352)
  - inline script tag
  - inline style tag

In many cases build syste

[2014-10-20 18:09] Garbee opened #176 "Blackboxing updates"
- Needs some headings for good ToC
- Side-by-side image styles for where two images sit in place. ( probably via table for now.)
- Needs a link from JS Debugging. Currently this is an orphan page.

[2014-10-20 18:30] jaredwilli opened #177 "Updated definitions for timeline record descriptions"

[2014-10-20 18:59] paulirish opened #178 "Monitoring APIs post for h5r"
RUM is so hot right now and people are kind of unclear on what APIs are available for them in Chrome

https://docs.google.com/a/google.com/presentation/d/17HjGp4pQlNh2WIwKiTcUpDLIuOdkUcRmALFuoytQsjU/edit#slide=id.g2d5e578af_023  covers it pretty well. Let's give the lay of the land

This'll include
- a good explanation of window.onerror and addEventListener('error')
- user timing
- resource timing

[2014-10-22 18:47] paulirish opened #181 "Paint Profiler"
It's new and shipped in timeline.

You can also access it through the Layers panel (still behind an experiment).

A video that explains nothing at all but shows the Layers panel going into the paint profiler: http://gfycat.com/WeeGrizzledFruitbat

We'll need docs on how this works and where/how you use it. :)

[2014-10-30 20:37] ghost opened #185 "Revise Device Mode article"
Restructure device mode article:
- Consolidate content - group feature descriptions more cohesively according to function (rather than UI location).
- Tune the focus and removed non-essential info.
- Update all screen captures. (Demo the current UI and use exclusively google-owned sites.)

[2014-11-04 22:17] #185 closed, assigned to nobody

[2014-11-11 22:33] #176 closed, assigned to nobody

[2014-11-16 22:53] paulirish opened #189 "universal ADBdriver suggestion"
We've had a few reports where the drivers from android fail people and the universal adb driver from koush (good guy) works well.

I think we should just simplify things for our windows users and recommend that.

https://github.com/koush/UniversalAdbDriver
http://developer.android.com/tools/extras/oem-usb.html#Drivers

what do yall think?

[2014-11-22 03:22] kdzwinel opened #195 "Side menu on the main page is not visible"
There are two URLs for the main page: https://developer.chrome.com/devtools and https://developer.chrome.com/devtools/index .

On the first one (which is the default one) the right-hand menu looks like this:
![screen shot 2014-11-21 at 19 19 08](https://cloud.githubusercontent.com/assets/985504/5152692/5c247964-71b3-11e4-9255-0e3921d8e5f2.png)

On the other one though everything is OK:
![screen sh

[2014-11-25 05:35] tenbits opened #197 "devtools extension (ExtensionPanel::onSearch) misleading doc"
Hello Team, pardon me in case this issue is not relative to the repo, but current documentation is a little bit confusing and gives no clue to the following API:

[ElementsPanel](https://developer.chrome.com/extensions/devtools_panels#type-ElementsPanel) has `onSearch` event, and when user triggers search action in the panel, then the handler is called as expected with users query string, and I ca

[2014-11-25 15:38] #197 closed, assigned to nobody

[2014-11-25 17:05] jaredwilli opened #198 "Need to document what the number count is in console"
[Reference on SO](http://stackoverflow.com/questions/27112211/identifying-feature-of-page-inspector-chrome)

Apparently this hasn't been documented yet so we should add it somewhere to help clarify what the numbers mean exactly.

![Image](http://i.stack.imgur.com/mGHuW.png)

[2014-12-02 18:35] paulirish opened #199 "Update contributing guide"
## [Chrome DevTools Contribution Guide](https://docs.google.com/document/d/1WNF-KqRSzPLUUfZqQG5AFeU_Ll8TfWYcJasa_XGf7ro/edit#)

[2014-12-04 13:15] kdzwinel opened #200 "Automatic proofreading"
I did a small research around automatic proofreading and found these two projects:

https://github.com/RobinvdVleuten/gingerbread , https://github.com/vesln/teacher - spelling
https://github.com/btford/write-good - Hemingway-app-like results

Basic test:
[code]

Result:
[code]

Useful? Should I proceed with the research (I'd like to figure out how to hook it up to devtools docs)?

[2014-12-08 10:22] kdzwinel opened #201 "Encouraging feedback - github link in the footer"
We agreed to add a link to https://github.com/GoogleChrome/devtools-docs/issues in the footer of the docs. However, I don't see any template in this repo that controls contents of the footer. Any ideas?

Also, I just spotted that there is a 'Send Feedback' button in the bottom right corner. Does anyone know where these suggestions go?

[2014-12-13 15:21] Garbee opened #204 "Comprehensive Keyboard Shortcuts"
So, we have a [feature request](https://code.google.com/p/chromium/issues/detail?id=441300) asking for a keyboard shortcut for the dock mode. In this we are trying to decide on a shortcut to use and I realized the [existing keyboard shortcuts](https://developer.chrome.com/devtools/docs/shortcuts) docs aren't very comprehensive. It looks as if they only point out the primary shortcuts or just the o

[2014-12-15 20:03] Garbee opened #206 "First Run Experience ideas"
FTUE = first time user experience and FRE =  first run experience up front.
pbakaus > 1) is "did you know", 2) is "let me show you this new thing"

So if you didn't know, now you do. And even I still don't get it. :tongue:

@paulirish's initial ideas are:
- Console history ($0, $1, ...)
- console.table

I'm thinking console.group could be a good one to add as well. It is very nice for keeping logs

[2015-01-05 18:51] kdzwinel commented on #201
The solution looks like this (I briefly discussed it with @Garbee ):
![GitHub link in the DevTools docs footer](https://i.imgur.com/ryMJWYE.png)
Patch sent to Paul.

[2015-01-05 19:04] paulirish commented on #206
Two approaches to take here. regular Console hints or more wizardy welcome-to-this-screen stuff.

I heavily favor the first (console hints) for a few reasons. It does change the UX and approach of what we communicate though.

[2015-01-05 19:29] jaredwilli opened #209 "CodeMirror editing features"
This is very related to #204

With CM4 and all that, we now have a bunch of editing features in the devtools.

Feels like we should summarize the editing experience?

multiple cursors, select next occurrence, cmd / to comment, jump to previous location, all the languages we highlight for,

there might be more:
https://github.com/mirrors/blink/commits/master/LayoutTests/inspector/editor
https://git

[2015-01-05 19:40] Garbee commented on #206
From the meeting: Console-based hints. Like a "Message of the Day" kind of thing would be best.

Why not wizards?
* Duplicate what the docs are for
* Technical debt to maintain them when things move or get changed
* A lot of extra work in core for what probably won't be a major benefit.
* Can't get into more detailed things without being in the way (which a simple message with a doc link does perf

[2015-01-05 21:40] paulirish commented on #201
CL is up: https://codereview.chromium.org/831263004

[2015-01-05 22:04] Meggin commented on #201
Cool. The solution isn't perfect, but it's better than what's there, so I
will approve it.

We really should have the 'send feedback' button kick-off a crbug at the
very least. And eventually, when you go to raise a bug in a particular
area, it kicks off the correct issue tracker for that area.

Meggin

On Mon, Jan 5, 2015 at 1:40 PM, Paul Irish <notifications@github.com> wrote:

[2015-01-05 22:07] Meggin commented on #201
Actually, I'm not a reviewer-- Paul B is. Paul-- can you add me as a
reviewer too? Once Paul is happy with the change, I can give the lgtm and
you can commit.

Any chance we can see a staged version to check the styles?

Meggin

On Mon, Jan 5, 2015 at 2:04 PM, Meggin Kearney <mkearney@google.com> wrote:

[2015-01-05 22:09] paulirish commented on #201
technically you can add yourself ;)   … but yes added.​

[2015-01-06 13:57] cedricpinson commented on #53
I have also the problem about the
'Not optimized: Optimized too many times'
that would be great to have reason or some hints when the compiler reject those optimization

[2015-01-06 17:25] #149 closed

[2015-01-06 17:36] paulirish commented on #199
ws query parameter
&experiments query parameter

[2015-01-06 17:37] paulirish commented on #159
merged  into #199

[2015-01-06 17:37] #159 closed

[2015-01-06 17:56] #156 closed

[2015-01-06 18:04] paulirish commented on #138
Just ran the site through http://validator.w3.org/checklink?uri=https%3A%2F%2Fdeveloper.chrome.com%2Fdevtools&hide_type=all&recursive=on&depth=&check=Check#results1  and processing results....

[2015-01-06 18:30] paulirish commented on #138
fixed the local stuff and a few things on the chrome side. good for now!! :D

[2015-01-06 18:30] #138 closed

[2015-01-06 18:45] paulirish commented on #82
all this is done now

[2015-01-06 18:45] #82 closed

[2015-01-06 18:48] paulirish commented on #84
iceboxed

[2015-01-06 18:48] #84 closed

[2015-01-06 18:49] paulirish commented on #62
merging into #200

[2015-01-06 18:49] #62 closed

[2015-01-06 18:49] paulirish commented on #44
iceboxing

[2015-01-06 18:49] #44 closed

[2015-01-06 19:02] #32 closed

[2015-01-06 19:06] #13 closed

[2015-01-06 19:06] paulirish commented on #109
Another, console.time()s new behavior in timeline flame chart mode.

[2015-01-06 19:07] paulirish commented on #24
![image](https://cloud.githubusercontent.com/assets/39191/5634404/32ef439e-9594-11e4-84a3-e220ad1a5907.png)

[2015-01-06 19:07] #24 closed

[2015-01-06 19:14] paulirish commented on #100
Garbee, feels like this one fell off. We have some open work around extensions so I'm going to round up it all and integrate this with the rest..

[2015-01-06 19:14] #100 closed

[2015-01-06 19:17] Garbee commented on #100
Yea, this just hasn't been a big priority with everything else going on. Maybe re-asses this after we move tutorial information out and clean up the existing reference stuff.

[2015-01-06 19:25] Garbee commented on #189
I don't see any big issue with dropping in a note about Koush's drivers.

[2015-01-06 19:25] paulirish commented on #143
covered in real docs thanks to thomas boyt's patch
https://codereview.chromium.org/632793002

[2015-01-06 19:25] #143 closed

[2015-01-06 19:30] Garbee commented on #161
This actually probably isn't necessary anymore with the current thinking to move tutorial stuff out entirely and make DCC reference only...

[2015-01-06 19:30] #161 closed

[2015-01-06 19:33] paulirish commented on #49
docs much better now

experiment now available.

see https://codereview.chromium.org/774903003/

No platform hooks, but agreed.

displayName now supported

much better than 18mo ago.

[2015-01-06 19:33] paulirish commented on #49
the rest are good but are on the feature request side of things. they'll have to end up in crbug.

cheers yall

[2015-01-06 19:33] #49 closed

[2015-01-06 19:39] paulirish commented on #189
I dont have easy access to a windows box so i can't validate that the UX of using his msi is better than the big android page of download links.

i tried once in a virtualbox and nothing worked. so. .. unclear! need more windows people.

[2015-01-06 19:40] paulirish commented on #195
cc @Meggin since she's been hacking on this stuff.

[2015-01-06 19:41] Garbee commented on #189
I can test it tomorrow. VBox probably had issues passing through the USB connection.

[2015-01-06 19:49] Garbee commented on #206
There would ofc be a "Message of the Day" option in the settings. Not everyone (like those of us here) need it unless we just want to keep an eye on the tips.

As far as interactivity, sounds neat but I wouldn't say that is a high priority to get rolled out. Simply starting with a log message and a link to the doc page for more info is a good start and we can expand from there.

While it could be

[2015-01-06 20:10] Garbee commented on #152
With the recent talk of moving a good chunk of the content out of DCC and refocusing on just Reference docs, I'm closing this since it will naturally be done in that movement.

[2015-01-06 20:10] #152 closed

[2015-01-06 20:23] Garbee commented on #125
This stuff isn't reference so it isn't going to be in the scope of DCC soonish... Closing but we should keep in mind for content on the new site.

[2015-01-06 20:23] #125 closed

[2015-01-06 20:33] Garbee opened #211 "Codeschool checkup"
Go over the CodeSchool Introduction to DevTools course and make sure everything still works as expected. If not, then let Paul know so he can nudge the guys in charge of that.

[2015-01-06 20:33] heatheramahan commented on #28
We're addressing these updates via an HTML5Rocks article.
I put my current draft into a google doc, which our chrome-devtools-docs group should be able to access.

Would love to get some feedback! Thanks.

[2015-01-06 21:01] paulirish commented on #28
yeah. This ticket is old but it made me realize some of this older stuff wasn't yet in.

all sounds good.

[2015-01-06 21:10] heatheramahan commented on #28
ah, that's true. The H5R article covers stuff that's currently still in Canary.

But our reference docs still might be a bit behind with respect to the items you originally listed in this ticket. I can look into that.

[2015-01-07 21:03] paulirish opened #212 "Memory Profiling details"
Recently had an exchange with internal Google engineers and it unearthed some good answers to common questions.  Dropping them below until we find a nice place to integrate:

* Chrome uses tcmalloc as memory allocator and it has about://tcmalloc diagnostic page (on linux/windows) which could show the internal stats for the memory in all the processes.
* Task manager is basically system stats for t

[2015-01-08 00:33] paulirish commented on #201
@kdzwinel https://chrome-apps-doc.appspot.com/_patch/831263004/devtools/index

we can fix it with negative margin for desktop and maybe hide it on mobile?  Can you come up with some styles that would work for this?

Thanks

[2015-01-08 16:28] kdzwinel commented on #201
Sure, I'm on it.
BTW it looks much cleaner on the very bottom than over the CC message :+1:

[2015-01-09 10:48] kdzwinel commented on #201
1) @paulirish Is that what you had in mind?
![text over the button](https://cloud.githubusercontent.com/assets/985504/5678545/f532cda2-97f3-11e4-9ec8-bff63a740337.png)

-----

2) BTW it looks like 'send feedback' button is no longer there (at least on production):
https://developer.chrome.com/devtools/index
If it's not coming back we don't have to tweak the styles on the "Report issues on GitHub..

[2015-01-11 21:05] paulirish commented on #201
* "Send feedback" is not coming back. I submitted a CL for all of DCC to remove it. "report a content bug" handles it: https://codereview.chromium.org/836833002/
* yes "report a content bug" links to crbug but pops open feedback dialog. that's actually kind of OK. we just did this change so we'll see how it goes.

chromium issue tracker is what every other team on DCC uses for issues, except us. I

[2015-01-11 21:06] paulirish commented on #201
I actually was thinking this link is in the white section above the "global footer"

[2015-01-12 19:14] jaredwilli opened #216 "Homepage has a broken left nav"
These two pages do not match. The first link the left nav does not show, so it appears to be broken.

https://developer.chrome.com/devtools
https://developer.chrome.com/devtools/index

cc @Meggin

[2015-01-12 19:17] Garbee commented on #216
Also the note class is causing the large gap of whitespace at the top. Since the class has width=85% it is causing that to show up below the navigation.

[2015-01-12 19:31] Garbee opened #217 "Review feedback from internal tool"
We got the information from the past ~18 months of feedback from the tool built into the page (that no one was looking at.) Is is summarized in [this doc](https://docs.google.com/document/d/1GWhYB1FjbfgqRSUS14I1Uqo-XPDdKKeOVDphfzsZcoM/edit).

Task: Go through the actionable reports on our docs and see if things are still in need of patching, and fix it.

[2015-01-12 19:53] Meggin commented on #216
Very weird. Native client index page is having some troubles too-- +jmedley
who's investigating. I suspect the two are related.

Meggin

On Mon, Jan 12, 2015 at 11:14 AM, Jared Williams <notifications@github.com>
wrote:

[2015-01-12 20:26] Meggin commented on #216
I haven't found a solution, but I have learned enough to redefine the
problem. I'll keep investigating, but I'm sharing in case it makes someone
have an epiphany.

On the pages where navigation is missing, it's not actually missing. The
height of the nav element and several of its children is set to 0, making
it not visible.

Joe Medley | Technical Writer | jmedley@google.com | 816-678-7195

On Mo

[2015-01-12 20:40] kdzwinel commented on #216
https://developer.chrome.com/devtools
![screen shot 2015-01-12 at 21 36 40](https://cloud.githubusercontent.com/assets/985504/5710531/5424e7e4-9aa3-11e4-936c-fd4a20833213.png)

https://developer.chrome.com/devtools/index
![screen shot 2015-01-12 at 21 36 50](https://cloud.githubusercontent.com/assets/985504/5710542/5f1a0e86-9aa3-11e4-9bea-8c2cd4e9b238.png)

Note the two missing "show" classes in t

[2015-01-12 21:39] kdzwinel commented on #201
@paulirish http://imgur.com/a/bhtm9 - version no.1 or no.2?

BTW negative margin causes double-scrollbar (see screenshot no. 3), any ideas why?

[2015-01-13 18:11] Meggin commented on #216
Refining the problem, Part II

The article template (
https://code.google.com/p/chromium/codesearch#chromium/src/chrome/common/extensions/docs/templates/private/article.html&q=removeToc&sq=package:chromium&type=cs)
contains this little bit of code:

    <nav class="inline-toc no-permalink">      {{^removeToc}}
$(table_of_contents)      {{/removeToc}}    </nav>

It has the right name. It's in the r

[2015-01-13 21:02] paulirish opened #218 "js debugging: Break on first statement of a new script"
Newly added.

You can turn on "Script First Statement" in the Event Listener Breakpoints

https://codereview.chromium.org/834603003
https://code.google.com/p/chromium/issues/detail?id=165781

[2015-01-14 12:09] kdzwinel commented on #216
In my opinion `{{^removeToc}}` is not responsible. HTML markup for the left menu *exists*, it's just not visible. Execute this line in the DevTools console and menu will appear:
`$('.inline-site-toc > section > ol > li').classList.add('show')`

Looking at the templates, this is the place where it's decided if 'show' class should be added:
https://code.google.com/p/chromium/codesearch#chromium/src/

[2015-01-14 12:11] kdzwinel commented on #195
This seems to be the exact same issue as in #216

[2015-01-14 14:52] jaredwilli commented on #195
why not just set a redirect for the one that appears broken, to go to the one that is not?

[2015-01-14 16:07] Meggin commented on #216
Konrad I think your solution might work. A nice and simple change to the
href in the json. I'll try it today. The fix will be in chromium not
github. I'll update this ticket with the cl. I'm in meetings in the morning
but still hope to get to it before lunch.
On Jan 14, 2015 4:09 AM, "Konrad Dzwinel" <notifications@github.com> wrote:

[2015-01-14 19:49] Garbee commented on #211
* The system isn't picking up navigation stuff (like clicking a link in Elements to get to the Sources panel.) These require you to manually click the "Skip" button after it appears to move forward. In the mind of someone new to the tools, it *should* pick up on navigation and move forward on its own.
* 2.1 -  It isn't picking up that I saved the stylesheet in the sources panel (and undid modifica

[2015-01-14 20:04] Garbee opened #221 "Remove Elements Doc Page"
Completely overhaul [elements](https://developer.chrome.com/devtools/docs/elements) doc page. Horribly outdated.

--------

Due to discussion, now removing and forwarding to dom-and-styles.

[2015-01-14 20:10] heatheramahan commented on #221
Wasn't that doc replaced by this one?
devtools/docs/dom-and-styles.html

So maybe we can just get rid of / archive devtools/docs/elements.html

[2015-01-14 20:13] Garbee commented on #221
Ah yea, looks like dom-and-styles is a replacement for the elements page. So we can dump all of this and forward elements to dom-and-styles.

@paulirish Is this accurate?

[2015-01-14 20:33] Garbee opened #222 "Review Console page"
Look over the [Console](https://developer.chrome.com/devtools/docs/console) page.

Specifically:
* Update a couple outdated images.
* Make sure all examples are inline with the content.
* Clean up code examples so they aren't all single-line looking monstrosities.

[2015-01-15 11:12] bonog opened #223 "su binary"
Update repository

[2015-01-15 11:13] bonog commented on #223
Thanks

[2015-01-15 12:48] Garbee commented on #223
What is it that you are requesting here? I don't understand what SU Binary is in relation to the DevTools.

[2015-01-15 15:47] jaredwilli opened #224 "Debugging CSS animations"
We should probably write some docs on the new CSS animation debugging feature. Here's a good post on it I found.

http://www.valhead.com/2015/01/06/quick-tip-chrome-animation-controls/

[2015-01-15 21:19] Meggin commented on #216
Hey, guys.

Konrads quick suggestion didn't work :(. So I went with redirects, which isn't elegant, but it should fix the problem: https://codereview.chromium.org/849303003/

I've created a bug too for a better solution.

[2015-01-16 09:38] paulirish commented on #221
YUP!​

[2015-01-16 11:55] pbakaus commented on #224
We should, but I'd say let's wait a few weeks until the feature is ready.  There are still some significant UX changes coming.

[2015-01-17 21:14] Garbee commented on #223
Closing since I don't think there is a clear task here.

[2015-01-17 21:14] #223 closed

[2015-01-17 21:15] Garbee commented on #189
Just tested with a few android devices against Chrome Canary for remote debugging, the open driver didn't work for any of the devices. :frowning:

So, we should just recommend getting the provided drivers for a given device (as I believe we currently do) and leave it at that.

[2015-01-17 21:53] paulirish commented on #189
thanks for giving it a go.

On Sat, Jan 17, 2015 at 1:15 PM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-01-19 14:01] Garbee commented on #189
Actually, I'm going to look into this again on the current beta and stable channels. Looks like what I experienced could have been due to a possible [bug](https://code.google.com/p/chromium/issues/detail?id=450007) in the build I was using.

[2015-01-19 19:08] paulirish commented on #221
fixed by #225

[2015-01-19 19:08] #221 closed

[2015-01-19 19:09] paulirish opened #226 "js debugging: step into async"
There is a "Enable step into async"  experiment that enables Alt+F11 shortcut for StepIntoAsync.
No UI yet. Still not sure if feature is going in.

StepInto/StepOver goes through *everything*, i.e. can jump from current setTimeout to the next one. StepOut is same for Blink (setTimeout), but not implemented for V8 (Promises).

StepIntoAsync inside a promise handler at return point will jump to the

[2015-01-19 19:12] paulirish commented on #216
@Meggin while merged, the change isn't deployed yet.

[2015-01-20 17:58] Meggin commented on #216
Yep. We are having a problem with the server taking on changes. I'll
follow-up once the changes are live.

On Mon, Jan 19, 2015 at 11:12 AM, Paul Irish <notifications@github.com>
wrote:

[2015-01-20 19:03] Meggin commented on #216
Changes are live, and unfortunately, redirects aren't working for DevTools.
The fix worked for extensions only. I will investigate adding the new
navigation to the specific article template for DevTools. This will work,
but it takes a little bit more time to implement.

I'll target this week, but it might be towards the end of the week. Is this
OK?

Meggin

On Tue, Jan 20, 2015 at 9:58 AM, Meggin

[2015-01-20 19:08] Garbee commented on #216
Redirects seem to be working for me. docs/elements is forwarding correctly to dom-and-styles. (However this could be because the instances I'm hitting are not updated yet. We have noticed before updates can take some time to propagate to all containers.)

[2015-01-20 19:20] Meggin commented on #216
I updated the redirects for the server as I was trying to get a redirect to
work at the top-level url. But actually at the lower level might work-- I'm
going to try a quick fix ("": "index"). It might break stuff, and I'll
revert quickly.

Meggin

On Tue, Jan 20, 2015 at 11:08 AM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-01-20 19:28] Meggin commented on #216
Pushed the update and waiting to test live (might take a little bit).

Meggin

On Tue, Jan 20, 2015 at 11:20 AM, Meggin Kearney <mkearney@google.com>
wrote:

[2015-01-20 22:23] paulirish opened #227 "Link to chromedriver site"
https://sites.google.com/a/chromium.org/chromedriver/

Seems funny to talk about the protocol and not even mention using chromedriver for automating testing via it.

Needs a small paragraph + link on the protocol page.

[2015-01-22 07:00] paulirish opened #228 "debugger protocol updates"
## clarification on remote debugging, protocol, chrome.debugger API

Inbound feedback from a developer received via devtools eng team:

That's a clear way of communicating the offering.  i like.

We need to update this in a few places. Both the remote-debugging page and protocol page.

[2015-01-27 22:56] bonog commented on #200
bonog

[2015-01-29 22:54] Garbee opened #229 "Improve landing page on wiki for Developers"
The [developers](http://www.chromium.org/developers) landing page is a lot of headings, lists, and links. For people jumping in, this seems hard to follow to actually get going.

Some quick ideas to help improve things:
1. Have an ordered list under a "Quick-start" section at the top to list the top say 4 or 4 total steps needed to get going. (grab code, build for platform, get in touch, submit pa

[2015-01-30 05:33] paulirish opened #230 "Live script error reporting"
https://code.google.com/p/chromium/issues/detail?id=427896

it's in canary now.

#### demo:
open snippets and start typing javascript. As you write some nonsense and pause typing for a second, the source will get compiled and errors will be highlighted inline.

#### video:

http://gfycat.com/TatteredRealisticGibbon

<a href="http://gfycat.com/TatteredRealisticGibbon">
![image](https://cloud.github

[2015-01-30 16:43] paulirish commented on #230
tweeted: https://twitter.com/ChromeDevTools/status/561202858364661760

[2015-01-30 18:55] paulirish commented on #199
below, three methods of hacking on devtools:

## DevTools hacking for noobs.
##### pull only devtools frontend, no chromium compile

* Follow checkout procedure here: https://medium.com/@aslushnikov/hacking-chrome-devtools-8c8896f5cef3
* Load the frontend using https://chrome.google.com/webstore/detail/dev-tools-app/eichfopopofffkbhjgbabdegakcdmpkm?hl=en-US

## Intermediate DevTools Hacking
#####

[2015-02-03 07:12] paulirish commented on #73
a few more notes from a Q&A thread.

<hr>

Allocation Tracker name doesn't exactly matches with the tool because it doesn't track allocations, but alive objects. I think Object Tracker sounds better.

Object tracker iterates through js heap. In v8 the iteration process requires full GC by design. So each time when Object tracker does the job, it forces full gc, gets an iterator and iterates throug

[2015-02-03 14:17] kdzwinel opened #233 "debugger-protocol docs throw internal error"
https://developer.chrome.com/devtools/docs/debugger-protocol throws "Internal server error" . That's a first result when searching for "chrome debugging protocol".

BTW https://developer.chrome.com/devtools/docs redirects to https://developer.chrome.com/devtools/gsutil/third_party/python-gflags/debian/docs ?

[2015-02-03 14:46] Garbee commented on #233
cc @Meggin @jpmedley since they were involved with figuring out the display issues from the other week which this may be related to (issue #216).

[2015-02-03 18:07] jaredwilli commented on #204
#215 is the PR that includes this

[2015-02-03 23:37] paulirish commented on #204
fixed  by #215

[2015-02-03 23:37] #204 closed

[2015-02-04 13:06] pbakaus commented on #199
This is great stuff! We definitely should make a page. I kind of wish we would only share one way of doing it though, for simplicity reasons.

I have a few scripts that dramatically improve many of the steps. Gave them to Max too, he seems to be pretty happy with it. The aliases the scripts give you are:

- "fresh" - updates WebKit and Chromium via rebase-update, does some other stuff
- "build" -

[2015-02-04 14:27] paulirish commented on #199
put your scripts up as a gist!

I think there has two be two paths.

First one is the uber-fast "let's just start hacking" front-end only route.
  (part two of that can incorporate submitting patches for review.)

The second path is building Chromiu

[2015-02-04 15:32] pbakaus commented on #199
Enjoy: https://gist.github.com/pbakaus/73bead28ebcf43740eaa

IMO: There are too many things that are not supported when doing the hacky fast path, i.e. developing for Device Mode. But I hear ya, building Chromioum is a huge pain point if you don't have access to Goma and are on a slow machine.

[2015-02-04 15:47] paulirish opened #234 "Integrated UI for dedicated web workers"
![image](https://cloud.githubusercontent.com/assets/39191/6043592/3e9606f8-ac9e-11e4-8dd7-abd99762b831.png)

Demos:

* https://dl.dropboxusercontent.com/u/39519/workers-test/workers.html
* http://www.html5rocks.com/en/tutorials/workers/basics/

[2015-02-04 23:16] Flynsarmy commented on #206
Mouseover tooltips are significantly better than wizardry stuff. The latter is very jarring and in-your-face and in my experience most users will simply turn them off instantly or wildly click through where possible - defeating the purpose of having them at all.

[2015-02-05 02:53] Garbee commented on #206
Wizards were never considered too hard. We decided shortly after the meeting that they were too much extra stuff for not enough of a tangible result. This post has simply not been updated to reflect that.

For now I think we are all in alignment that a MoTD type hint in the console along with other console logs for first runs in different experiences are the way to go. For example: First time you

[2015-02-05 13:44] pbakaus commented on #206
I actually considered wizards extremely hard.

We have a real discoverability problem in DevTools. It's easy to believe that an improved UX (we're working on that!) will address it entirely, but I'm very sceptical.

The idea behind a wizard, or FTUE, is that it introduces a *new* feature to the user that the user has never used before. I.e. when we've added Device Mode for the first time, we would

[2015-02-05 14:44] Garbee commented on #206
I think this "wizard" naming may have a different notion to each of us.

What I'm thinking of a wizard as a UX that kinda would really take you through an experience to point things out. For example:
* Gray out areas not related to the tip at hand to point out the specific place in quesiton.
* Overlay a tooltip style popup to explain X function.
* Have a "next" to step over to another tip that may

[2015-02-08 03:56] paulirish commented on #233
fixed.
https://github.com/GoogleChrome/devtools-docs/commit/433b17a84324c3ca72fde670805682d127d9bcad

[2015-02-08 03:56] #233 closed

[2015-02-09 18:11] paulirish opened #235 "bug: heap contents demo broken"
https://developer.chrome.com/devtools/docs/heap-profiling-containment

[2015-02-09 19:10] Garbee commented on #235
Fixed by commit 5a68d2217bc22298c45ef775ade10d79a2ccc8e8

[2015-02-09 19:10] #235 closed

[2015-02-09 19:26] Garbee opened #236 "Eyedropper"
The eyedropper for color selection is out (or close.) We should get this functionality added to the docs.

[2015-02-09 23:09] Garbee opened #237 "Helpful information for network timing"
I saw a [recent post](https://plus.google.com/+PaulIrish/posts/XBnyqXwgsua?pid=6101676468866457298&oid=114552443805676710515) from Ilya Grigorik that has an image describing a few timing situations and showing how the new network panel displays them up front. This kind of thing should be added to the docs. Showing how the network panel gets you these issues sooner, along with links on how to fix t

[2015-02-09 23:21] Garbee commented on #201
So, the link is now to http://crbug.com/new however the data-feedback attribute exists which overrides the anchor and instead does the old feedback popup that no one outside of Google gets to see.

[2015-02-09 23:57] Garbee commented on #237
Doing some other work in the network panel I realized this is already supposed to be documented under [waterfall view](https://developer.chrome.com/devtools/docs/network#waterfall-view).

[2015-02-10 00:31] Garbee commented on #200
/me hugs @kdzwinel.

Working [GREAT](https://travis-ci.org/GoogleChrome/devtools-docs/builds/50138042). This is fantastic work.

Closing this issue since the main task seems to be done. We can file issues either here and tag the appropriately or against the actual repo for the bot to handle anything else that may come up.

[2015-02-10 00:31] #200 closed

[2015-02-10 08:03] paulirish commented on #200
yeah this is kind of magnificent.

On Tue, Feb 10, 2015 at 3:31 AM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-02-10 09:42] addyosmani commented on #200
Whoa. This is marvellous, @kdzwinel. We might try borrowing this for some of our other docs projects :)

[2015-02-10 11:18] kdzwinel commented on #200
I'm glad you guys like it! Feel free to [borrow it](https://github.com/kdzwinel/Proofreader) :)

My only worry is number of false positives, but we will work it out. I've created a [short documentation in wiki](https://github.com/GoogleChrome/devtools-docs/wiki/Proofreader).

[2015-02-10 12:31] Garbee opened #239 "Document finding specific objects in snapshots."
[Issue 457101](https://code.google.com/p/chromium/issues/detail?id=457101) is requesting documentation on searching by object ID in the profiler to show specific items. PR should be incoming soon...

[2015-02-10 12:38] Garbee opened #240 "Remove heap-profiling and forward to javascript-memory-profiling?"
I noticed when fixing another issue that the heap-profiling page is very outdated and the javascript-memory-profiling page covers the same stuff but in more detail and updated. Is it safe to remove & forward?

[2015-02-10 12:55] brinkkemper opened #242 "added CSS to element.style in the css tab sometimes not applied"
I have an element with style="display: none;"
this has been set by js.
When inspecting this element and adjusting the element.style in the css tab of the devtools, the changes are not applied and reverted back when leaving the edit mode.

[2015-02-10 13:02] Garbee commented on #242
1) To help people would need to see the actual code being run. If you could make a minimal example of the issue in a [codepen](http://codepen.io) then that would be great.

2) This is an issue tracker specifically for the *documentation* of the tools, not for support in using them or to report bugs with the tools itself. For support a [Chrome DevTools Google Group](https://groups.google.com/forum/

[2015-02-10 13:02] #242 closed

[2015-02-10 13:30] kdzwinel commented on #242
You can also try asking on [StackOverflow](https://stackoverflow.com/questions/tagged/google-chrome-devtools) but please include some code (as Garbee already mentioned).

[2015-02-10 16:22] Meggin commented on #201
How do you access the feedback attribute? I don't see it.

On Mon, Feb 9, 2015 at 3:21 PM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-02-10 20:50] Garbee commented on #201
![2015-02-10 15_49_07-chrome devtools overview](https://cloud.githubusercontent.com/assets/868301/6136157/5bcf40f2-b13c-11e4-9057-6c418302a0f0.png)

Seeing that right through my DevTools. `site.js` contains the code triggering the feedback modal:

[code]

[2015-02-13 15:25] Garbee opened #243 "Adding custom devices"
Document the steps to add a custom device to DM. I have a quick outline of the steps in [this thread](https://groups.google.com/forum/#!topic/google-chrome-developer-tools/emBsdVE_Dho). Just needs some touching up and screenshots.

[2015-02-16 18:44] kdzwinel opened #248 "Proofreader - write-good settings"
We are getting a lot of false-positives from Proofreader (e.g. https://travis-ci.org/GoogleChrome/devtools-docs/builds/50876713 ). In order to fix that we have to:

- add missing words to [devtools-docs.dic](https://github.com/GoogleChrome/devtools-docs/blob/master/devtools-docs.dic) and
- decide on write-good settings.

Currently, all write-good checks are being performed:

- `passive` Checks for

[2015-02-16 18:49] Garbee commented on #248
I think the only thing we should turn off is whatever is taking keyboard shortcuts and trying to make those into words. Other than that, the noise from the builds are really accurate and good information to fix the next time that content is touched.

[2015-02-16 18:58] kdzwinel commented on #248
In fact, I agree with Proofreader here. These keyboard shortcuts (e.g. "Control+click" -> Controlling) should be wrapped in `<span class="kbd">`.

As for the write-good settings, IMO `tooWordy` is useless most of the time e.g.

Evaluate your site's performance[...]
**"Evaluate" is wordy or unneeded**

[...]enforces a minimum delay in connection[...]
**"minimum" is wordy or unneeded**

[2015-02-16 19:02] #239 closed

[2015-02-16 19:03] paulirish commented on #230
happens on any edit. snippets or sources.

[2015-02-16 19:08] Garbee commented on #248
Oh, it is because those aren't wrapped in elements like they should be! Maybe a linter could be built to try and detect that?

On tooWordy, I think I'd like to see how this reacts to other pages as well and see how verbose it gets. I find that one could be very useful in many pages (since that is what I hit most with hemmingway.)

[2015-02-16 19:25] paulirish commented on #240
yup we can kill.

the -summary page is still heavily linked though.

[2015-02-16 19:33] paulirish commented on #237
nice updates.

[2015-02-16 19:33] #237 closed

[2015-02-16 19:48] paulirish commented on #222
HTML!

[2015-02-16 19:51] Garbee commented on #222
Viva le revolution!

[2015-02-16 19:58] Garbee commented on #240
Linked internally or from external sources?

If external then a redirect will be in place which should make that a non-issue. If internal then I'll be patching those with my PR for the removal and redirect, so no problem there.

[2015-02-16 21:42] paulirish commented on #248
@btford wanted to pull you into this.  we have write-good hooked up to our PRs on this repo. it's pretty rad.
https://travis-ci.org/GoogleChrome/devtools-docs/builds/50876713

But as you can see we also get a LOT of reports incoming and some are probably false positives.

Do you have any advice for how we can engage with writegood well with a large corpus?

[2015-02-16 21:43] paulirish commented on #240
-summary page is linked internally.
it's actually a demo.

the heap-profiling page i dont see linked, but we should have a redirect on it, yeah

[2015-02-16 22:42] Garbee commented on #240
If a demo is in there then it should be refactored into its own page like
the others.
On Feb 16, 2015 4:43 PM, "Paul Irish" <notifications@github.com> wrote:

[2015-02-16 23:51] Garbee commented on #240
oh wait, you mean heap-profiling-summary. not heap-profiling as summary.

I'll look into the best way to handle that if it needs to be touched. I was more focusing just on `heap-profiling.html` itself.

[2015-02-17 04:33] btford commented on #248
Ohh, this is interesting. I hadn't considered using this in a CI environment.

I think it would be easy to fix some of the passive voice ones in `write-good` itself by white listing certain constructions. Long term, a parts-of-speech identifier would provide more accuracy, but at a cost of run-time speed.

For now, you could check in a list of allowed warnings and `diff` the output of `write-good`

[2015-02-17 10:43] kdzwinel commented on #248
@btford thank you for input, it's much appreciated!

You are saying that we should create a list of specific write-good warnings that should be ignored, right? I think it's a good start, but I'm worried that most of these warnings depend heavily on the context e.g. we can't assume that `"minimum" is wordy or unneeded` will always be wrong, can we?

[2015-02-17 18:00] paulirish commented on #240
correct.

and `heap-profiling.html` is dead, yeah.

[2015-02-20 15:00] Garbee commented on #222
Ok, so while I am doing the conversion I decided to go ahead and update the content itself too. Things are way too wordy and repeated throughout the doc and my OCD just kicked in. So... This might take a bit longer than expected and will need a really good review when the PR is up.

[2015-02-20 16:38] paulirish commented on #222
k.

[2015-02-20 21:14] paulirish commented on #71
It's been removed. https://code.google.com/p/chromium/issues/detail?id=438626

[2015-02-20 21:20] paulirish opened #249 "Break on first statement"
![image](https://cloud.githubusercontent.com/assets/39191/6309523/11d99d70-b903-11e4-86f4-402470024f50.png)

Breaks at the beginning of any script file or script tag as its being executed.

cc @pbakaus

[2015-02-20 21:43] Garbee commented on #249
Are you trying to break the space-time-continuum?

[2015-02-20 22:25] Meggin commented on #222
I can help with the review.

On Fri, Feb 20, 2015 at 8:38 AM, Paul Irish <notifications@github.com>
wrote:

[2015-02-21 14:39] Garbee opened #250 "Styling DL."
Pulling from [a comment on a PR](https://github.com/GoogleChrome/devtools-docs/pull/238#issuecomment-74562764) for making tables into DL's we want to make it so appropriate DL's are shown side-by-side. With this I also added in bolding DT's by default and adding a colon in after the term using styling to save us some typing.

The proposed patch is as follows:
[code]

This allows us to mark the def

[2015-02-21 16:01] Garbee commented on #198
I think we should call this "Stacking". Since you are stacking consecutive log messages to keep the output more concise.

Any other name ideas? Or does one exist already and I just don't know?

[2015-02-23 19:16] paulirish commented on #218
dupe.

[2015-02-23 19:16] #218 closed

[2015-02-23 19:17] paulirish commented on #216
this live?

[2015-02-23 19:21] paulirish commented on #250
I think proper two-column (a la tables) is easier to read.

[2015-02-23 19:22] #243 closed

[2015-02-23 19:33] Meggin commented on #216
It should be, and if you navigate to devtools, the toc is there (which was
the original fix needed). Annoyingly though, devtools/index isn't working.
It's OK for native-client and extensions now, but not for devtools.

I'll look into it.

On Mon, Feb 23, 2015 at 11:17 AM, Paul Irish <notifications@github.com>
wrote:

[2015-02-23 19:34] Meggin commented on #216
It's annoying that we can't test these fixes for the github repos. A
separate to-do to fix in the process.

On Mon, Feb 23, 2015 at 11:33 AM, Meggin Kearney <mkearney@google.com>
wrote:

[2015-02-23 19:59] Garbee commented on #216
I just tried the "devtools.chrome.com" shortcut. It is now redirecting to the HTTPS version if you try HTTP and the HTTPS version isn't forwarding to the actual docs.

Was HSTS turned on recently? I'm noticing that is the source of the redirect in my network panel.

[2015-02-23 20:50] Garbee commented on #250
Yea, having the same space between each term and definition would look best. Looking into it now, however there doesn't seem to be a very good solution that doesn't involve `float`. :frowning:

[2015-02-23 21:42] Garbee commented on #250
After quite a bit of messing around... I cheated. Bootstrap ftw.

[code]

Pulled the dl-horizontal class stuff from there and fixed it up for our needs. Also added a media query to make the terms and definitions on their own line on small devices so they are legible.

This still needs some work for things with multiple terms to a definition, but a good start.
![current_dl](https://cloud.githubuser

[2015-02-23 21:47] Garbee commented on #250
Just realized preserve log is cut.
To fix those issues:
* Turn off text-align right (so it left aligns)
* Remove white-space nowrap.

[2015-02-24 23:51] Garbee commented on #222
PR #251 is in for this. We will pick up there. ENJOY!

:smiling_imp:

[2015-02-24 23:51] #222 closed

[2015-02-24 23:52] Garbee commented on #198
On cruise control for PR #251. Just going to close this up preemptively to keep the issues cleaner.

[2015-02-24 23:52] #198 closed

[2015-02-24 23:53] Garbee commented on #217
With PR #251 in place this is all covered except for some Android 5.0 stuff I am unable to test.

[2015-02-24 23:53] #217 closed

[2015-02-24 23:59] Garbee commented on #248
Yea, this "wordy" thing needs to be chunked quick until we get some kind of fix in place. I thought it may not be a big deal, but calling this out in this context is a bad sign...

["evaluate" is wordy or uneeded](https://travis-ci.org/GoogleChrome/devtools-docs/builds/52065335#L174) when it is nothing but needed.

[2015-02-25 00:22] Garbee commented on #248
Weaken meaning may need to be looked at as well. Not sure what is causing this, but it is literally the functionality. "Errors Only", "Logs Only", "Info only", etc. If we could even somehow target these usages out that would be great. Just another thing to fill-in-as-we-go if possible.

[2015-02-25 19:27] paulirish commented on #199
### A few advanced hacking notes on plumbing data
 browser through blink into devtools

#### The life of a raw header

1. blink: requests to collect devtools-related info in Resource::setReportRawHeaders. It turns into a flag REPORT_RAW_HEADERS which enables network instrumentation in the browser
2. browser/content: content/browser/devtools/devtools_netlog_observer.cc, is listening to the network

[2015-02-25 19:30] paulirish commented on #250
I like the right align above. looks cool.  But doesn't work for the network request stages.

Anyway, let's do it.

[2015-02-25 19:31] paulirish commented on #250
IMO you can nuke the `dt:after { content: ":"; }`

Update the PR so we can pick things up there?

[2015-02-25 19:31] paulirish commented on #250
let's close this in favor of #238

[2015-02-25 19:31] #250 closed

[2015-02-27 00:51] Garbee opened #252 "Update clean testing environment page."
https://developer.chrome.com/devtools/docs/clean-testing-environment

A lot of buzz lately on an issue for remembering the dock position in Incognito from some dock-to-bottom lovers. We should update this page to help clarify the advantages of using a separate profile vs incognito. As well as showcase the [history scrubber extension](https://chrome.google.com/webstore/detail/developer-profile/pkpn

[2015-02-27 13:24] Garbee opened #254 "Document Async Operations Brekpoints"
[Async Operation Breakpoints](https://code.google.com/p/chromium/issues/detail?id=457134) seem to be quickly being introduced. Documentation should exist for this shortly after the issue is marked as fixed.

This issue will be labelled as Low Priority now since I'm unsure of how far off this is from being completed. Once it is completed it is High Priority since it introduces new functionality.

[2015-02-27 16:02] jaredwilli commented on #199
This is a great post on contributing to chromium we should link to as well
http://meowni.ca/posts/chromium-101/

[2015-02-27 16:19] Garbee commented on #199
Yea, that one is fantastic. Also really highlights the "you may need to search for related stuff" part of contributing since the codebase is so complex.

I'll be tackling this update (and conversion to HTML) after the console update is completed and merged.

[2015-02-27 16:25] Garbee opened #255 "Count different issues in error."
Travis's test suite should count the different types of errors and display a quick line display of each and their count in the document.

For example:
[code]

This way we could get a quick overview of a documents readiness status when a PR is made.

cc @kdzwinel since you built this thing and may know if it is possible.

[2015-02-28 11:55] kdzwinel commented on #255
Everything is possible! I was thinking about some kind of summary before (who doesn't like stats?), so if you think it's useful I'll add it.

[2015-02-28 13:09] Garbee commented on #255
It would be great if you can look into it. As long as we get each present error and a count on how many there are I'm fine. I realized yesterday I can get through like 8-10 "Passive Voice" issues an hour. So having numbers on error types should help me estimate how much time the actual content has left.

[2015-03-01 17:10] Garbee commented on #255
I was working on my vim setup just now and realized that editor plugins are the long-term way to go to solving the woes of knowing what to do locally. I opened an issue on the [Proofreader tracker](https://github.com/kdzwinel/Proofreader/issues/11) so others interested on just that can see it.

I'm currently learning how to write a vim plugin to build this. Sublime Text would probably the most use

[2015-03-01 23:56] Garbee opened #256 "Stepping behavior changes"
From trying to help someone in IRC, Paul mentioned some stepping changes were made recently to the debugger. We should figure these changes out and clearly document the differences for developers.

[2015-03-02 16:39] jaredwilli commented on #209
@paulirish is this still necessary or can it be closed?

[2015-03-02 21:35] Garbee commented on #209
We can go ahead and close this since the keyboard shortcuts are in which seem to be the main thing.

However, we should keep this in mind for the WF migration in case any of the new stuff needs documenting since there are some powerful upgrades with the CM4 upgrade that are most likely not in the current docs.

[2015-03-02 21:35] #209 closed

[2015-03-02 21:36] Garbee commented on #209
cc @Meggin  Not sure how we want to track things to keep in mind for the WF migration. If you have something you should know about this. If not let me know and I can start a quick task list somewhere to integrate once we have some kind of public tracking.

[2015-03-02 22:06] paulirish commented on #228
## link to protocol-viewer for tot docs

http://chromedevtools.github.io/debugger-protocol-viewer/ instead of https://developer.chrome.com/devtools/docs/protocol/tot/index

[2015-03-03 17:47] eslachance commented on #30
Am I correct in thinking that it's still not possible to create local copies of remote files by folder? I have to open each file and hit Save As, one after the other?

[2015-03-03 18:01] Garbee commented on #30
Correct. Saving whole folders is not currently supported.

[2015-03-03 18:43] paulirish commented on #199
Another good post on understanding the flow of the frontend:
[What happens when DevTools Pauses](http://jasonlaster.github.io/js/devtools/2015/03/01/devtools-paused.html) by @jasonLaster

[2015-03-04 23:14] Garbee commented on #189
Tested a little bit ago, still not functioning on a few devices I have.

[2015-03-04 23:14] #189 closed

[2015-03-04 23:27] paulirish commented on #189
sgtm. thanks

On Wed, Mar 4, 2015 at 3:14 PM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-03-09 17:04] jaredwilli opened #259 "Advanced JS Debugging"
Looking over our open issues many of them fall into pro-level features for debugging.
#228 #226 #167 #31 (I think that's all of them)

We're moving our content to Web Fundamentals and that means we need to author things in their style.. It's more driven by action rather than overview of the feature set.

What do you think about a "JS Debugging for Professionals" guide.

- Stepping behavior
- Step

[2015-03-09 17:21] Garbee commented on #259
sgtm. I have discussing task-based docs on the list to talk about today. I'll at this to that as a reference for discussion.

[2015-03-09 18:01] Meggin commented on #209
Jonathan-- quick task list in the repo sounds great! I can refer to this
task list as we start to build the new repo :). Can you let me know when
this is up? Thanks!

On Mon, Mar 2, 2015 at 1:36 PM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-03-09 18:06] Garbee commented on #209
Sure, I'll actually make an issue on this repo to list things out. Shouldn't be a big deal since the migration is already being talked about in public places.

[2015-03-09 18:08] Garbee opened #260 "Tasks for DGC migration"
* [ ] List docs staying on DCC and the docs being moved.
* [ ] Look over documentation on CodeMirror usage (particularly in sources panel) to check for any powerful updates from the CM4 update that should be included. Ref Issue #209
* [ ] Make sure Promises panel stuff is documented.
* [ ] Service Worker tooling docs
* [ ] Cover new Network panel timeline view.
    * Quick overview of the entire l

[2015-03-09 18:09] Garbee commented on #209
Issue #260 is the quick task list. We can add things as stuff comes up and later on move it to the migration repo as individual issues for assignment.

[2015-03-09 18:13] Meggin commented on #209
Cool. Fast. Thanks.

On Mon, Mar 9, 2015 at 11:10 AM, Jonathan Garbee <notifications@github.com>
wrote:

[2015-03-09 19:18] Garbee opened #261 "Promises Panel"
https://code.google.com/p/chromium/issues/detail?id=348919

Document new panel functionality.

[2015-03-09 19:32] paulirish commented on #256
details here: https://code.google.com/p/chromium/issues/detail?id=432468#c6

## new behavior
StepInto/StepOver/StepOut/Pause - should never result in Resume, giving users iterative stepping experience.
Thus, now users can iteratively step though all JS tasks, like setTimeout callbacks, event listeners and etc.

For example, if we are stepping Into/Over at the return point of a setTimeout callback,

[2015-03-09 19:34] paulirish commented on #254
The behavior here is changing slightly. we should check in with aandrey to get the scoop.

[2015-03-09 19:49] Garbee opened #262 "Merge extension pages"
Two extension pages exist showing off external extensions. Merge them and redirect the removed one.

[2015-03-10 17:53] Meggin commented on #260
Are new tools coming out for Service Workers? We will need to track and document these (43).

[2015-03-10 19:24] Garbee commented on #260
Added SW stuff to be documented. Also the other day I went ahead and added Promises panel to this list. Since it is moving to ship shortly, it is still 12 or 18 weeks out of actually being stable. So it can probably just wait and the content can land on DGC first instead of DCC.

[2015-03-11 21:30] Garbee opened #263 "Information on workspaces and breakpoint relationship"
So workspaces and breakpoints can have some odd interactions. These should be clearly documented for reference.

[1] https://groups.google.com/forum/#!msg/google-chrome-developer-tools/dQkYXi4syt8/sT5VuSxjJ9gJ

[2015-03-17 11:18] Pereitor opened #264 "Preview tab is not showing rendered preview anymore"
Since a couple of updates ago, switching to the "Preview" tab in an ajax-gotten document is not showing the rendered content when it has HTML. That feature was very useful for debugging ajax-generated content, since you could take a look and see at a glance if everything was correct. In my case I'm using a debugger (x-debug) for the server generated content and it wraps every error, warning and ex

[2015-03-17 11:23] kdzwinel commented on #264
Hey! This is Chrome DevTools *docs* repo, if you'd like to report a Chrome bug please do so on [crbug.com](http://crbug.com/new).

[2015-03-17 11:25] Pereitor commented on #264
Aaargh! Going there; sorry for screwing it up.

[2015-03-17 11:25] #264 closed

[2015-03-17 11:27] kdzwinel commented on #264
This looks like your bug: crbug.com/459554 . It's already fixed but probably not released to the stable Chrome yet. Meanwhile you can use Chrome Canary. Good luck!

[2015-03-17 11:39] Pereitor commented on #264
Hey kdzwinel, you've been of great help! I was about to screw it again... I searched for the bug but didn't find it and was about to submit it. Thanks man! I promise to learn to search twice in the future :).

[2015-03-17 11:42] Garbee commented on #264
Don't worry too much about accidentally submitting a duplicate bug in the code tracker. It is hard to search until you use it plenty. So long as you *try* to search first, we are happy. Since if you do find an existing bug, it saves us some time finding/remembering and merging things together.

[2015-03-17 11:59] Pereitor commented on #264
Note taken, Garbee! Very kind and helpul answers indeed. And moreover: the bug is solved in Chrome Canary! Thanks again, dudes!

[2015-03-25 11:26] addyosmani opened #265 "DevTools Extensions API linking issues."
Cross-posted from a bug report on crbug at https://code.google.com/p/chromium/issues/detail?id=469135

Steps to reproduce the problem:
1. Open https://developer.chrome.com/devtools link
2. Click on 'DEV TOOLS' menu item and click on 'DevTools Extensions API' link which is under 'Reference' section.
3. You will be re directed to 'Integrating with DevTools' instead of 'DevTools Extensions API'.

Wha

[2015-03-25 11:44] Garbee commented on #265
I just commented on the upstream bug with what I'm pretty certain needs to be done. Leaving this open for now in case I was wrong and someone else here knows what needs doing.

Do note though, not an issue within the doc repo itself since the menu is generated from code in Chromium.

[2015-03-25 16:00] paulirish commented on #53
We've landed a bunch of patches recently to expose deopt reasons:
https://code.google.com/p/chromium/issues/detail?id=452067#c19
It's not done yet, but I'll ping this thread when there's something to try out.

[2015-03-25 16:55] kangax commented on #53
Thanks Paul. Something else I noticed recently in timeline:

![0lb3ffadqycdvpn8w4c0q6qemlnvi8sehyrjuv1bjyk](https://cloud.githubusercontent.com/assets/383/6830073/da593304-d317-11e4-938c-c11f560c50f0.png)

That little yellow exclamation mark shows there's an issue but it doesn't tell which, until you drill down to a specific event (which could be hell knows where!), click it, and look at its detai

[2015-03-30 18:33] paulirish commented on #259
+ "inlive values"

https://twitter.com/kangax/status/581141432142041088
https://code.google.com/p/chromium/issues/detail?id=467338

[2015-04-01 20:24] addyosmani opened #266 "Document colours for Retainers pane of the JS profiler."
I got asked about what the colours in the retainers pane mean today and was unable to infer this from any of our existing docs. The below are my estimations looking through the source, but I could easily be incorrect. Let's verify and document?

* Gray: object IDs or objects with value null
* Blue: objects with a bool or numeric value
* Black: objects with some other value.

![screenshot 2015-04-0

[2015-04-01 22:33] dcherman commented on #266
Just to give some color ( hah! ) to my question, here's a screenshot of part of what I'm looking at for the moment.

You can see that one of the properties `ngModelGet` is blue, however that property is almost certainly a function considering its name and just knowing Angular's source.  Since they all have "system / Context" next to them, I figured that maybe it was a variable contained in a closu

[2015-04-02 06:46] paulirish commented on #266
FWIW the way I figure this out is inspect the inspector, read the classnames for these style differences, look in cs.chromium.org for how those classes are determined, and that's typically enough to track it down.

[2015-04-02 15:14] jaredwilli commented on #259
Doc WIP https://docs.google.com/document/d/1NUaro1qO6uymlhxE46tcrqKJ-NDdkiPw3a7myttgAIc/edit

[2015-04-03 12:35] Garbee opened #268 "Inform of timeline JSON spec"
A question came up in the Google Group about the JSON export.

Pavel linked to [a fantastic doc](https://docs.google.com/document/d/1CvAClvFfyA5R-PhYUmn5OOQtYMH4h6I0nSsKchNAySU/edit#heading=h.yr4qxyxotyw) covering the structure in great detail. Instead of copying this in and maintaining it we should note in the docs that this doc exists with a full explanation of the export.

[2015-04-03 19:37] paulirish commented on #259
The key challenge is writing this as user tasks not as feature overviews.

@jaredwilli i had some ideas around using some dev interview questions as a way of structuring this content.  would you mind grabbing that from the IRC log and dropping them in here?

[2015-04-03 19:49] Meggin commented on #259
+1 to the challenge of writing the docs as user tasks and not feature
overviews.

Looking forward to seeing these ideas. I was on offsite/vacation, so I
missed the last two IRC chats.

I did, however, get through restructuring of Debugging JavaScript docs TOC
based on tasks-- it's a start:

Debugging Your JavaScript
<https://docs.google.com/document/d/1mdZsAxQoQP3SkL4x1O-wnS8PZL1wAL4HzUOxWlYUGPk/e

[2015-04-03 19:56] Meggin commented on #259
And I've already changed something! Moved CPU profiling into performance,
but still need to work out detailed mappings.

On Fri, Apr 3, 2015 at 12:49 PM, Meggin Kearney <mkearney@google.com> wrote:

[2015-04-03 20:17] Garbee commented on #259
I think something that would help with writing this is to handle it this way:

1. Introduce symptoms of an issue the developer may notice which requires the given guide to diagnose.
2. Preface the guide by providing an example document set to work along with.
3. Set your mind back to, "I just kinda know the basics" and explain things as a fresh person looking at the tools.
4. Begin writing in the

[2015-04-03 23:02] paulirish commented on #199
## A Draft is born!
https://docs.google.com/document/d/1WNF-KqRSzPLUUfZqQG5AFeU_Ll8TfWYcJasa_XGf7ro/edit# has already taken shape. More to come

[2015-04-03 23:23] Garbee commented on #199
@pbakaus Once you are back from... that thing I can't remember... Can you drop your scripts into a gist and link it either here or in the draft doc? We are trying to collect as many useful scripts/aliases/tools for helping people out we can.

[2015-04-04 18:00] paulirish commented on #73
This twitter thread, with pictures is fairly useful: https://twitter.com/dan_abramov/status/584169428994154498

`$0` when selecting an element is good.
also hovering to get a preview

[2015-04-04 22:31] addyosmani commented on #73
Whaaa. I had no idea `$0` worked in that panel. Didn't realise it basically applied to any tree-like view (or seems to). That would be worth documenting for sure.

[2015-04-06 00:03] addyosmani commented on #268
:+1:

[2015-04-06 16:57] paulirish commented on #199
http://oksoclap.com/p/r.339e25ef51d70c7bd8b4b668843be3d4 is the guide to DevTools tickets in the issue tracker. how they work, how to browse, how to subscribe

[2015-04-08 18:57] Garbee opened #270 "Should developers worry about Idle time?"
An often question that comes up is, "What is Idle time?" and "How do I get rid of it?".

This recently hit the [ML again](https://groups.google.com/forum/#!msg/google-chrome-developer-tools/sg37pDBY2iM/NaJBUPzjVEgJ). These questions should be answered in the [docs directly](https://developer.chrome.com/devtools/docs/timeline#about-clear-or-light-gray-frames).

We should answer:
* Do you need to wo

[2015-04-13 18:15] paulirish commented on #270
Idle doesnt belong in the pie chart or any % calculations. That's a bug, IMO.

Idle time has different concerns but they're very unrelated to how we currently present it.

[2015-04-13 18:22] paulirish commented on #268
FWIW our timeline export format changed as of Chrome 41. But I guess nobody noticed so we're all good. :)

[2015-04-19 09:52] arthurvr opened #271 "`dock to right` button is moved"
This sentence: https://github.com/GoogleChrome/devtools-docs/blob/116c99051c543d64703dd1371e380bd573431eee/docs/authoring-development-workflow.html#L36. It needs some updating as the button is moved. The screenshot is outdated as well.

[2015-04-19 11:42] Garbee commented on #271
Let's just merge this over to issue #154. It was aimed to do this and then some.

I may even still have a branch with the changes started still on my repo....

[2015-04-19 11:42] #271 closed

[2015-04-19 11:44] Garbee commented on #154
I do have a branch with this work started. It is [here](https://github.com/Garbee/devtools-docs/blob/audit/auth-dev-workflow/docs/authoring-development-workflow.html#L19-70). Still needs some work before pushing, but if anyone wants to take that up while I'm busy with other things go ahead.

Otherwise I'll try to get this done later this week and push it in.

[2015-04-21 18:27] Meggin opened #273 "Track and help migrate docs to web/tools!"
Hey, guys

Here's a spreadsheet for tracking the content as we migrate it to web/tools: https://docs.google.com/spreadsheets/d/1qVz45_B1DPIAl_7qLJrCW4fvz9qgb2DVGSbDy3uaf_U/edit#gid=45543763

As it's mostly me working on the docs right now, I'm maintaining a master version in my work account and will update this one with that as I go along. But if you do plan to update this spreadsheet, go for it!

[2015-04-24 17:35] Garbee opened #274 "Explain breaking out of infinite loops"
An [often problem](https://code.google.com/p/chromium/issues/detail?id=479791) developers hit is Infinite Loops. Many don't understand the process for using a conditional breakpoint to stop in them for inspection.

Pretty clear here, let's solve it.

[2015-04-27 19:03] BrodaNoel opened #275 "Lost focus after press "F12""
Hi all!
I lost the focus when I press F12 in Chrome.
For example:
I click on a User/pass input, press F12 and the focus is out.
Could you open the Devtools without change the focus?

See you guys!

[2015-04-27 19:13] Garbee commented on #275
This tracker isn't for DevTools issues. It is for issues with our Documentation on [Developer.Chrome.Com](https://developer.chrome.com/devtools).

This is however a [bug already filed upstream](https://code.google.com/p/chromium/issues/detail?id=335477) that won't be fixed.

[2015-04-27 19:13] #275 closed

[2015-04-27 19:23] BrodaNoel commented on #275
Won't be fixed? Wow... That is why I'm still using Firefox.
See you guys!

[2015-06-01 19:03] acthp commented on #53
I can't make sense of the "Not optimized: Inlining bailed out" examples. A function f is defined that adds a property to an obj, and is then called with no args? So it throws on "cannot set property of undefined"? Fix is to.. what? Not define the function and then call it, so it throws on "undefined is not a function"? The example is extremely unclear.

[2015-06-01 19:54] kangax commented on #53
@acthp you're right, I made a mistake in my example (mind you, this is simply my assumption about the error — I haven't worked on a profiler, I don't know the actual meaning behind these messages). I fixed. The point is not to modify object at runtime. So instead of assigning property dynamically, a property would be created initially as part of an object literal. Of course this might not always b

[2015-06-02 18:31] acthp commented on #53
Hm... if that's the case, I wonder if initializing the property to undefined would help.

[2015-06-11 14:50] #236 closed

[2015-06-16 12:36] pbakaus commented on #199
@Garbee see above, Gist already exists :)

[2015-06-16 12:44] Garbee commented on #199
I saw that a while back. I was going to put off updating this until we know what is going on with the issue tracker itself as to not use time on that when it could be changing soon. However, with a bug push recently towards cleaning up the tracker internally I should probably go ahead and get this written up.

[2015-06-19 14:37] paladique commented on #262
Hi there! :wave:

Just wanted to confirm that these are the [two](https://developer.chrome.com/extensions/devtools) [pages](https://developer.chrome.com/devtools/docs/extensions-gallery) in question. Any preference on which one should stay? If I had to choose I'd keep/merge [this one](https://developer.chrome.com/devtools/docs/sample-extensions).

[2015-06-19 17:28] Garbee commented on #262
Yea, that is the one @paulirish wanted us to keep iirc.

Correct, Extension Gallery and Sample Extensions are the pages. Merge Gallery into Samples.

[2015-06-19 18:43] paladique commented on #262
:thumbsup: I'll take it on then.

[2015-06-19 19:12] Garbee commented on #199
[Quick outline](https://docs.google.com/document/d/177wfDVd5Za6NKOfe4ohQNEmeuF_zNXWzco059iXkTCc/edit) of what I'm thinking for the new structure.

[2015-06-19 19:21] paulirish commented on #199
​nice. i think this is right on point.

[2015-06-21 14:51] jasonLaster commented on #199
Looks good, maybe Ric and slack channels

[2015-06-30 19:15] stuartmemo opened #290 "Most page jumps on JavaScript Memory Profiling page don't work"
On the [JavaScript Memory Profiling](https://developer.chrome.com/devtools/docs/javascript-memory-profiling) page, many of the page jump links don't work. Such as "Timeline memory view" and "Chrome task manager".

Most upsetting.

[2015-07-02 09:25] doque opened #291 "debugger; inside a blackboxed script pauses script execution"
I've got a script that calls `debugger;` somewhere. Given that it's a 3rd party script, I don't much care about inspecting it, so I've blackboxed it.
However, script execution still pauses when reloading the page. I believe when blackboxing a script, its breakpoints should be ignore, as [specified here](https://developer.chrome.com/devtools/docs/blackboxing):

I'm using the current (43.0.2357.130)

[2015-07-02 09:26] doque commented on #291
Just saw this is only for docs, so feel free to ignore.

[2015-07-02 09:26] #291 closed

[2015-07-03 15:26] paulirish commented on #65
(just a few notes here)

Currently these features help with two symptoms
* the page is forced into slow scrolling mode (main thread scrolling)
* the page is paint storming

The first is something to consider early, the second is something you see from lots of green in timeline and validate through Show Paint Rects.

`Repaints on Scroll` is one case I'm not sure I understand clearly.
* The two SO a

[2015-07-07 13:25] nicolechung commented on #121
Yes! I would like to know if it's possible to open JS files from a devtools extension I am working on.

[2015-07-13 00:24] paulirish opened #292 "Explain network timings"
@Garbee do you have a ticket tracking the network stuff you're working on?

Regardless I wanted to capture these items, so they go into the docs.

### What do the various timings in network mean?

* [networking - What does Chrome Network Timings really mean and what does affects each timing length? - Stack Overflow](http://stackoverflow.com/questions/31240207/what-does-chrome-network-timings-reall

[2015-07-13 00:27] Garbee commented on #292
I don't have anything tracking the DGC work, actually forgot about it. Let's assign this to me and it can serve as an action item and bucket of things to cover.

Thanks for digging in and getting the answers to the hollow bars! So good to know what it means finally. :smile:

[2015-07-31 11:41] jakubstrama opened #294 "Large CSS selector grouping (8+) throws an exception."
Following selector grouping causes devttools Elements to show no style while analysing the selected element. *(Chrome Version 44.0.2403.125 m)*

## CSS
[code]
## Markup
[code]

![emptyselection](https://cloud.githubusercontent.com/assets/6832946/9006492/1547e81e-3788-11e5-9b7c-7af665438422.png)

While analyzing devtools with <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>i</kbd> inspector, following ex

[2015-07-31 11:43] Garbee commented on #294
Please  file a bug in the [chromium issue tracker](http://crbug.com). This repo is for the documentation only.

[2015-07-31 11:43] #294 closed

[2015-08-07 01:44] govo commented on #53
What does "Not optimized:Yield" means?

[2015-08-07 02:53] paulirish commented on #53
​Only a guess: the yield keyword is used which kicks a function out of
optimized path.

[2015-08-11 22:20] kaycebasques commented on #249
@paulirish when would you use this? To watch the order in which files are loaded?

[2015-08-13 22:59] pbakaus opened #297 "Migrate/address missing articles in new site"
I couldn't find the right mapping for the following resources, they either don't exist (yet) in the new IA or I missed them:

Not moved:

/videos
/tips-and-tricks (created a mapping, but we need to port these over)
/extensions-gallery
/contributing
/clean-testing-environment
Unsure:

/blackboxing
/settings
/rendering-settings
/heap-profiling-summary
/heap-profiling-dominators
/heap-profiling-dom-l

[2015-08-15 19:08] paulirish commented on #249
You'd use this feature when loading scripts dynamically. Let's say the filename is cachebusted on every reload, so your breakpoints will never survive a reload.
Here you can always break on new scripts, giving you a chance to add breakpoints in the rest of the file.

[2015-08-19 20:02] kaycebasques commented on #226
@paulirish was this implemented?

[2015-08-19 20:41] paulirish commented on #226
it's still in an experiment. no plans for that to change.

[2015-08-27 02:12] chisholmd commented on #30
When I added persistance I seem to have lost the ability to set break points

[2015-08-27 04:27] eslachance commented on #30
@Garbee Will it be eventually possible? Because that would be an awesome feature.

[2015-08-27 11:28] Garbee commented on #30
@eslachance I don't think there are any current plans for the team to add the functionality. Best thing to do is submit a feature request on the [issue tracker](http://crbug.com/new) against DevTools and see what they say.

[2015-08-29 19:21] chief10 opened #300 "Chrome Snippets: Maintaining variable declarations in memory when they have been removed from the file."
Snippets has been keeping variable declarations even when removing them from the snippets file and saving. Looks like it is specific to using ES6.
![snippets](https://cloud.githubusercontent.com/assets/2761499/9563894/42903bae-4e59-11e5-9c92-85cf6b855179.gif)

[2015-08-30 16:23] ilblog commented on #53
"Not optimized: Optimized too many times"

I do have the same problem. What I think is, that function is too long, and it is optimized on so many places. Will try to make function smaller and will see.

[2015-09-11 20:31] skybrian commented on #53
It looks like the last update to the bug for showing "deoptimized too many times" reasons was in June. Any work in progress?

[2015-09-12 05:57] kdzwinel commented on #53
IMO "optimized too many times" means that function was optimized multiple times with wrong assumptions (both args are int! first is string the other is int? both are string?! I give up...). Check if types and order of params you pass to that function is always the same.

[2015-09-12 08:06] WebReflection commented on #53
@kdzwinel so you are saying a script language shouldn't have overloads like most common strict languages? wouldn't that be somehow hilarious :-) I'd rather like to know the eventual maximum amount of overloads can be optimized before "giving up", there are already so many native methods and functions in JS that accepts different amount of parameters with different kind of types, I don't think deve

[2015-09-12 23:47] skybrian commented on #53
Knowing which variables aren't type-stable is useful for optimizing heavily-used inner loops. When performance doesn't really matter, you're probably not even looking at that function in the profiler in the first place.

[2015-09-14 10:14] kdzwinel commented on #53
@WebReflection you sure can have polymorphic functions, they won't be as optimized an monomorphic ones. Which, in most cases, is OK.

After reading [this](http://mrale.ph/blog/2015/01/11/whats-up-with-monomorphism.html) article my guess is that "optimized too many times" warning is emitted not when V8 figures out that function is polymorphic, but when it figures out that it's megamorphic (see [thi

[2015-09-14 10:29] mraleph commented on #53
When talking about optimizations it's more polymorphism of each individual operation inside the function is more relevant than polymorphism of the function (that's why my blog post always talks about operations, call sites - not functions).

_optimized too many times_ means only one thing - precisely what it says: V8 (re)optimized this function many times and eventually gave up.

In reality this v

[2015-09-14 11:26] kdzwinel commented on #53
@mraleph thanks for an explanation! Now it makes much more sense, hopefully we will get that documented.

Since "optimized too many times" suggests a V8 bug, should we consider reporting it when we run into this warning? If so, should it be reported to https://code.google.com/p/v8/ or crbug.com ?

[2015-09-14 12:21] mraleph commented on #53
@kdzwinel "Often" does not mean "always". I recommend actually investigating what happens, confirming that it looks like a bug and then filing a bug (with a repro) at V8's bugtracker.

[2015-10-03 01:37] paulirish commented on #53
#### "Not optimized: Optimized too many times"

V8 optimized this function, but while running it found a reason to deopt it. It tried later, reoptimized but then deopted again. This pattern happened repeatedly. It (re)optimized the function `kMaxOptCount` times, but on the `kMaxOptCount + 1`th time, it gave up trying to optimize.

Currently `kMaxOptCount` is set to **`1000`**.
(See [kMaxOptCount i

[2015-10-13 01:33] Hypercubed commented on #53
### "Not optimized: Bad value context for arguments value"

"V8 only recognizes monomorphic .apply call-sites" - @mraleph
#### Example

[code]

#### Cause

[2015-10-17 12:08] Hypercubed commented on #53
To add to my last comment the following also causes "Not optimized" flag on the dispatch function:

[code]

[2015-10-19 18:03] paulirish opened #301 "Custom Formatters"
docs here: https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/preview

[2015-10-21 20:28] spite commented on #121
What does "Fired when an object is selected in the panel" mean for the Sources panel? I can't get onSelectionChanged to fire no matter what I do in the Sources panel.

[2015-10-27 18:56] paulirish commented on #53
As a heads up, this github issue is now linked from the devtools:
![image](https://cloud.githubusercontent.com/assets/39191/10769138/cc0bff96-7ca1-11e5-8a09-91e50fde7204.png)

[2015-11-10 15:20] djmtype opened #302 "Undesired Result: Producing twice the indentation (or spaces)"
When using workspaces and adding a new css style under the *Styles* tab, the result is saving twice the amount of indentation over to my stylesheet. Yet, under *Settings* I have 1 tab specified. The same can be said for specifying 2 spaces – the result would produce 4 spaces. This may seem minor, but if I was using `.sass` rather than `.css` or `.scss`, this might be problematic. In addition it ju

[2015-11-10 15:37] djmtype commented on #302
Odd, now it's saving the indentation correctly.

[2015-11-10 16:13] Garbee commented on #302
Please file technical issues as bugs against the DevTools on [crbug](http://crbug.com/new). This repository is for the documentation only (which has now even moved into WebFundamentals.)

[2015-11-10 16:13] #302 closed

[2015-11-23 11:36] paolocaminiti commented on #65
I noticed on touch enabled browsers, starting from chrome 46, that range inputs are potential perf bottlenecks. In particular when creating hundreds of them it seems the whole body gets the touch listener assigned, becoming the highlighted perf bottleneck and dramatically impairing performance compared to having touch events flag disabled.

Is there a clear logic to predict when touch inputs will

[2015-11-25 02:37] paulirish commented on #65
@paolocaminiti oh interesting. good find!

Here's your demo with 100 `input type=range`'s, and then again with 101 of them:
<img src="https://cloud.githubusercontent.com/assets/39191/11386661/47f02c94-92d8-11e5-87ab-af9311446709.png" width=300> <img src="https://cloud.githubusercontent.com/assets/39191/11386669/6045c61e-92d8-11e5-8ee0-02c7fff9c86e.png" width=300>

Looks like Chrome switches to eve

[2015-11-25 07:05] akshay-sarkar opened #303 "Unable to remove folders from workspace under source tab in Developer Tools"
Unable to remove folders from workspace under source tab in Developer Tools.

Earlier their seems to some options available to remove folder from workspace as per the [doc](https://developer.chrome.com/devtools/docs/workspaces).

Kindly provide a workaround for it.

[2015-11-26 14:29] paolocaminiti commented on #65
Thanks for the answer, it's great you are writing some draft documentation about it, and passive events seem a great proposal.

Would be great to document if the "100" auto optimization threshold is arbitrary or it varies for platform/device/performance combinations. And which events are subject to be optimized under which cirumstances (touch only?).

Anyway I'm a bit puzzled why the latency is ki

[2015-11-27 21:58] RByers commented on #65
This magic '100' threshold is just an implementation detail around the
tradeoffs between the cost of maintaining a bunch of fine-grained
rectangles and the performance benefits of the optimization.  IIRC the
limit is per-layer, so if you can stick all your range sliders into a
single DIV with 'will-change: transform' then you'll get a nice compromise
(but don't bug EACH ranger slider in it's own l

[2015-11-27 23:39] paolocaminiti commented on #65
So from the timeline seems the huge time difference is consumed exclusively by "Update Layer Tree". No differences on the "Hit test" timing either.

I can see only one layer in the Layers tab details: #document.

When the touch delegation chimes in, the whole body (even out of the painted area) is highlighted as a slow scroll rect.

Even with no event firing and no scroll happening the Update Laye

[2015-12-10 08:58] paulirish commented on #199
[Chrome DevTools Contribution Guide](https://docs.google.com/document/d/1WNF-KqRSzPLUUfZqQG5AFeU_Ll8TfWYcJasa_XGf7ro/edit#) is totally updated now.

[2015-12-17 15:39] RByers commented on #65
I've included a high-level overview of the problem [here](https://github.com/RByers/EventListenerOptions/blob/gh-pages/explainer.md), along with a partial solution we're working on.

[2015-12-18 12:15] paolocaminiti commented on #65
Applying this simple rule on the body seems to restore performance.
[code]
It even works on the shadow-dom of a [webcomponents based version of the same demo](http://paolocaminiti.github.io/incremental-dom-jsonml/demo/primer6-webcomponents/), then i wonder why it's not the default if the sliders are internally implemented via shadow dom.

Right now I'm not able to do proper comparison and profilin

[2016-01-04 15:03] madroneropaulo commented on #28
Guys, I'm not sure in which version it changed so drastically, but I couldn't find any documentation for the new timeline and frame rate debugging tools. Using latest stable chrome: 47.0.2526.106 m. While some tools are self explanatory, some aren't.

[2016-01-04 15:18] Garbee commented on #28
It will get updated, trying to get that figured out now.

The new repository for issues is [WebFundamentals](https://github.com/Google/WebFundamentals) btw. Issue [2404](https://github.com/google/WebFundamentals/issues/2404) there already exists for tracking this update (assuming none pre-date it.)

[2016-01-27 13:54] v0lkan commented on #292
bump!

That part needs some further clarification for the curious minds.

[2016-01-27 13:56] v0lkan commented on #292
And I agree with Paul that instead of naming it "queueing"/"stalled", using "postponed"/"awaiting socket" time ranges would make the waterfall diagram much clearer to understand (to me at least).

[2016-01-27 13:59] Garbee commented on #292
I believe we discussed renaming before in the issue tracker. Decided against it since what we have aligns with other browsers and is fairly standard technically speaking. If you wish to discuss that again though, you can file a [new issue](http://crbug.com/new) (since I'm having trouble finding the old issue) for getting things renamed.

[2016-01-27 16:44] paulirish commented on #292
Hmm. I believe we're fine with renaming.

[2016-01-27 23:07] gauravagarwalr commented on #53
Not optimized: TryCatchStatement

Cause having a try catch statement within a function block.

[2016-01-30 05:13] v0lkan commented on #292
Well I "feel" the renamed version is a better fit; however I'm not feeling too strong to open a new issue if you've already discussed this and settled with a decision.

At any rate, naming is hard.

[2016-02-02 15:59] paolocaminiti commented on #53
Found a stranger simpler example of "Bad value context for arguments value"
[code]
Let the profiler run this a couple of times and formattedText will be de-optimaized.

Without locally slice the arguments into an array but simply changing the body of the loop to:
[code]
seems to fix it, curiosly closure compiler will rewrite it like:
[code]
then oddly enough uglify will rewrite closure output as t

[2016-02-03 14:20] Garbee commented on #303
Seems to be working here.

Please file technical problems in the [Chromium issue tracker](https://crbug.com). That way they can be triaged and fixed if a problem is found.

[2016-02-03 14:20] #303 closed

[2016-02-03 20:42] #261 closed

[2016-02-03 20:42] #260 closed

[2016-03-03 23:33] #228 closed

[2016-03-18 18:02] AnthumChris commented on #199
Found this link via DevTools Contrib Guide.  Would be nice to see instructions/recommendations in the Guide for reporting bugs or submitting feature requests related to DevTools.

[2016-03-18 18:16] Garbee commented on #199
Reporting bugs is fairly straightforward, [crbug.com](https://crbug.com] and file a new issue. The wizard will walk you through everything.

Feature requests are trickier, since the wizard is "bug only" mentality. So you have to shove the feature request around the fields that the wizard asks for. We are trying to figure out the best way to guide better feature requests. Until that time, the best

[2016-04-12 20:39] TristanBrotherton commented on #30
In the documentation I see edits made in the elements panel should persist and save immediately. I'm unable to create this behaviour though, and instead have to edit the relevant file under "sources" and save it. Is there still away to persist changes made in the elements tab? (otherwise you lose the ability to see immediate changes).

[2016-04-12 21:11] paulirish commented on #30
sounds like your workspace isn't mapped.​

[2016-04-12 21:13] TristanBrotherton commented on #30
Thanks for the quick reply Paul, If I understand correctly my work space is mapped as I can control click on a property in the elements tab, to be taken the sources tab, where I can edit and save the changes.

[2016-04-24 12:04] Dillybob92 opened #304 "Toggling FPS meter programmatically?"
Hey guys,

I posted a question on StackOverflow [here](http://stackoverflow.com/questions/36013925/how-to-toggle-chromes-fps-meter-programmatically), and it looks like it's not possible?

I'm wondering if it's possible to enable the Show FPS meter in the Rendering tab on the dev console by Javascript? To toggle it on/off.

I am creating a nice action rpg game and would love, LOVE to know if this i

[2016-04-24 14:32] Garbee commented on #304
It is not possible nor will it be. DevTools operates in an isolated environment and individual bits of it can't be toggled on in web applications. It is up to developers to specifically enable this operation in the DevTools themselves to operate it.

There are other frame tools available as JavaScript packages you can include to use.

[2016-04-24 14:32] #304 closed

[2016-04-24 19:13] Dillybob92 commented on #304
Aww. Good point since it would only work if dev tools was enabled / open. Well, thanks for the response though :) I just love whoever worked on the graphics for the meter, it's very nice.

[2016-04-30 03:54] RByers commented on #65
I've made [a screen capture](https://www.youtube.com/watch?v=6-D_3yx_KVI) explaining this feature and the related passive event listener features of dev tools.

[2016-07-14 23:02] paulirish opened #310 "Remove redundant pages from repo"
Now that redirects are in place, the major pages in this docs repo all forward into developers.google.com/web/tools/*

@kaycebasques can you put up a PR to remove the pages from this repo that are no longer live?

[2016-09-28 13:33] Wizzy-wooz commented on #121
Hi guys,

can someone advise how can I call from my extension "Toggle Device Toolbar" panel like paulirish mentioned:

chrome.devtools.panels.sources
chrome.devtools.panels.elements

should it be chrome.devtools.panels.toggleDeviceToolbar?

Any help matters :)

Bet regards,

[2016-10-17 02:33] spite commented on #53
"Not optimized: Unsupported phi use of const or let variable"?

[2016-10-17 07:36] vhf commented on #53
I don't have an explanation yet but I added [a rather minimal reproduction](https://github.com/vhf/v8-bailout-reasons#unsupported-phi-use-of-const-or-let-variable).

[2016-10-17 08:00] kdzwinel commented on #53
@spite [here is the code](https://cs.chromium.org/chromium/src/v8/src/crankshaft/hydrogen.cc?q=kUnsupportedPhiUseOfConstVariable&sq=package:chromium&dr=C&l=3886) responsible for throwing this warning

[code]

@mraleph should be able to help explaining it (as always!)

[2016-11-02 05:27] JohnONolan commented on #30
@paulirish I have the same issue as @TristanBrotherton - is there any way to debug this? As Tristan says, workspace is mapped, and edits to the sources panel persist to the file system correctly. The only missing thing is that changes in the elements panel do not sync or persist to the source panel in any way.

[2016-11-02 08:50] paulirish commented on #30
cc @aslushnikov

[2016-11-02 19:11] aslushnikov commented on #30
@JohnONolan @TristanBrotherton hi guys, I've an idea of what might be happening, but at first lets see if I understand your scenarios correctly:

1. You author your styles in LESS
2. You transpile LESS files into CSS files with sourcemaps
3. In DevTools, you setup a workspace, which maps your CSS stylesheet to CSS filesystem files, and LESS sources from sourcemap to LESS files on the filesystem.
4

[2016-11-02 21:58] TristanBrotherton commented on #30
@aslushnikov That sounds accurate. Sounds like its a workflow issue.  My misunderstanding from reading the docs was that it would update the LESS file.

[2016-11-04 12:18] JohnONolan commented on #30
@aslushnikov Yes. In my case, PostCSS rather than LESS, but everything else is the same.

The main things I note are:

- Changes to the PostCSS/LESS file in the sources panel *do* write to the file system, but are *not* visible when switching to the elements panel.
- Changes to the elements panel instantly appear in the browser, but do *not* carry over to the sources panel *or* write to file.

Eve

[2016-11-23 11:31] sorcamarian opened #312 "Add simple UX filter blur utility"
In Dev Tools when a HTML Node is focused and `H` key is pressed, that node gets hidden(`visibility: hidden !important`;)

I suggest adding a [CSS Filter](http://www.w3schools.com/cssref/css3_pr_filter.asp) blur (`-webkit-filter: blur(5px) `) on `B` `keypress` .

Blur value coulde be selected by pressing a number.
For example:
key: `B`  +  key: `9` => `-webkit-filter: blur(9px) `

In my case, [filt

[2016-11-23 12:00] Garbee commented on #312
Please submit feature requests in the [Chromium issue tracker](https://bugs.chromium.org/p/chromium/issues/list). This tracker is for the documentation only and the team that works on the software itself does not look here for work to do.

Thank you.

[2016-11-23 12:00] #312 closed

[2016-12-09 22:30] billhance commented on #53
I came across the same "Not optimized: Unsupported phi use of const or let variable" bug as @spite and unsure of why exactly. Opened a pr here https://github.com/vhf/v8-bailout-reasons/pull/10 with details.

[2016-12-17 14:44] Suncatcher commented on #30
Does the situation changed after 2 years? Is it still not supported?

[2016-12-17 18:24] Garbee commented on #30
@Suncatcher Nope. There isn't an issue for it to be tracked and implemented by the team when they have time. This isn't a place the team looks for work. If someone wants that functionality they'll need to file a bug at [the chromium bug tracker](https://crbug.com).

[2016-12-20 09:17] Suncatcher commented on #30
Okay, I [fixed](https://bugs.chromium.org/p/chromium/issues/detail?id=675894) this horrible deficiency)

[2017-01-15 15:37] coot opened #313 "Link to chrome debugger protocol docs is outdated"
The link in [here](https://github.com/GoogleChrome/devtools-docs/blob/master/docs/protocol/1.1/index.html) is outdated.

[2017-01-29 03:49] vsemozhetbyt commented on #53
@paolocaminiti
I've tried to reduce your case. It seems we have found out something interesting.
See https://github.com/vhf/v8-bailout-reasons/issues/13

[2017-02-07 20:09] paulirish commented on #313
thanks! updated in 9ddee238a92784047d94ee5aaf14ce77009013a0

[2017-02-07 20:09] #313 closed

[2017-02-14 22:59] coot commented on #313
I am not sure where to report it but the link does not work in firefox (a blank page loads).

[2017-02-15 00:11] paulirish commented on #313
which link?

[2017-04-07 03:46] xftroxgpx commented on #67
These seem related:
https://github.com/GoogleChrome/devtools-docs/issues/67#issuecomment-37675331
https://bugs.chromium.org/p/chromium/issues/detail?id=700347#c14

[2017-04-20 19:49] sirdarckcat opened #314 "Document how to debug dedicated workers"
It seems there used to be a "Pause on Startup"[1] but that is no more. I assume there's another way, but I just haven't been able to find it.

[1] https://github.com/GoogleChrome/devtools-docs/issues/31#issuecomment-32568162

[2017-05-09 08:44] trungdq88 commented on #121
Same question: What does "Fired when an object is selected in the panel" mean for the Sources panel?

[2017-05-09 17:38] paulirish commented on #121
`onSelectionChanged` should no longer be present on the `sourcesPanel`. It doesn't do anything. :)

No immediate plans to expand the events supported in sources panel, but contributions to chromium would be considered if you're up for that.

[2017-05-10 10:44] jimbojw commented on #53
## Unsupported let compound assignment

For anyone trying to decode this bailout reason, here's an example:

[code]

Notably, the increment operator `++` does not cause deopt, nor does the following:

[code]

Previously, I had interpreted the term _compound assignment_ to mean multiple assignment statements, comma separated, after the same leading `let`. E.g.

[code]

I have not been able to const

[2017-05-19 00:40] tudorilisoi commented on #121
Imagine clicking on an error in devtools and have your favorite IDE open the (source-mapped) file and go to the faulty line.
It could have been done with a small plugin for webpack(or any other dev server) and a little chrome devtools extension

[2017-06-04 04:10] mervick commented on #121
Seems like `chrome.devtools.panels.setOpenResourceHandler` no longer available

[2017-07-02 08:09] gk2go commented on #171
The shortcut that we need is one that you can use without being in the developer mode. On any page press the shortcut and you can see how that page looks like from an iPhone 5.

[2017-07-02 12:27] Garbee commented on #171
@gk2go since this is a developer tools feature you need to have it open to work. No extra shortcut will be provided outside of that.

[2017-07-02 13:05] gk2go commented on #171
Ok, is it possible for me to create a Chrome extension that provides
this shortcut? That is, is it possible to invoke the device mode
programmatically?

--

Gabriele Kahlout

a.co/2Nmg8ML

[2017-07-02 19:24] kdzwinel commented on #171
Yes, kind of, you can turn on emulation using DevTools debugging protocol (that Chrome extensions have access to). You won't be able to use DevTools in the same time though.

https://developer.chrome.com/extensions/debugger
https://chromedevtools.github.io/devtools-protocol/tot/Emulation/#method-setDeviceMetricsOverride

[2017-07-31 15:36] wtfrank commented on #53
Not optimized: TryCatchStatement

Its worth pointing out that in older versions of v8 (e.g. 5.1.281.83) TryCatchStatement seems to be also triggered by functions with no try/catch but a "for...of" construction

[2017-08-14 05:27] Minarva-Siemens opened #318 "How to export Java script code coverage result to a file, after running a java script application"
I want to get a statistic data after running a java script application. eg: total bytes covered, total unused bytes covered, percentage covered.

[2017-08-14 10:48] Garbee commented on #318
This isn't currently supported in the DevTools. You'd need to file an issue on the [Chromium issue tracker](https://bugs.chromium.org/p/chromium/issues/list) for the engineers to triage and assess whether this feature should be added or not.

Thank you.

[2017-08-14 10:48] #318 closed

[2018-01-03 10:09] KathiresanRamkumar95 opened #319 "About layout thrashing"
After changing TImeline tab to Performance tab, I cant able to see about layout thrashing on my profile page in dev tools.
Please help me to find layout thrashing of my web app.
Thanks in advance!

[2018-02-26 09:31] mosquito1994 opened #323 "How does "Disable JavaScript samples" affects the page render?"
Hello, I'm using the performance tool in Chrome devtools to test my page. I am confused that I get different results in FPS when toggling the "Disable JavaScript samples" checkbox. Here are two examples:
![image](https://user-images.githubusercontent.com/12527771/36662310-f499356a-1b18-11e8-9241-116aa857f868.png)

![image](https://user-images.githubusercontent.com/12527771/36662049-24a30db8-1b18-1

[2018-04-03 14:18] bernardmizzi opened #325 "Why aren't all functions displayed in the Record Heap Allocation?"
I recorded the heap allocation so that I could take note of how much memory Javascript functions took. Using the Chrome Developer Tools I headed towards the Memory tab and selected Record allocation profile. There were several functions listed but surprisingly not all of them, and I know that all of them were called since I attached a log to all of them and they all appear in the CPU profiler wher

[2018-07-01 11:36] bulgariamitko commented on #30
+1 i want this feature

[2018-08-10 09:31] JaganJonnala commented on #30
+1
I want this feature

[2018-09-12 06:14] userlond commented on #30
Same problem, I think it will never be fixed.
Bug in bugtracker: https://bugs.chromium.org/p/chromium/issues/detail?id=596037

[2018-10-15 04:53] Nazanin1369 commented on #274
I'd love to take this.

[2018-10-15 17:07] Garbee commented on #274
Any effort into the docs now should go into the [Web Fundamentals](https://github.com/google/WebFundamentals) repository. The DevTools Docs hosted on the Chrome site are no longer maintained as WF has become the canonical resource for this kind of documentation for the team. So head on over there and reach out on the best path to contribute this kind of document to that team.

Thank you!

[2018-10-18 03:24] zsio opened #327 "什么时候推出中文版本"
什么时候推出中文版本呢？     国人还是很多的。

[2018-10-18 18:16] Garbee commented on #327
这些文档至少已部分用中文提供。 如果你去文档的新家。 然后滚动到页脚并从下拉列表中的选项中选择语言。 然后页面会更新，并显示翻译的内容。

-----

(Auto translated to Chinese (simplified) with Google translate. No idea if it is completely accurate.)

The docs are already, partially at least, available in Chinese. If you go to the new home of the docs. Then scroll to the footer and select the language from the options in the dropdown. The page then updates and what i

[2018-10-19 02:06] zsio commented on #327
Yes, thank you very much. But I am talking about the Chinese version of chrome devtools.
Is there a plan for this?

[2018-10-19 04:32] paulirish commented on #327
There is currently no plan to localize the chrome devtools in Chinese. :( Sorry

[2018-10-19 10:35] zsio commented on #327
It's ok, thank you very much for providing such a powerful tool.
@paulirish @Garbee
Thank you very much.

[2018-10-19 10:35] #327 closed, assigned to nobody

[2018-10-24 20:45] zikaari commented on #143
Thought I'd share a wrapper I made few months ago: [crx-bridge](https://github.com/neeksandhu/crx-bridge)

Comes with ES6 Promises and multiplexed long-lived connections

[2019-04-19 03:58] herbertxy opened #328 "devtools color picker don't work"
i user win10 x64,
newest chrome version ,
the devtools color picker don't work,

[2019-05-27 07:45] #328 closed, assigned to nobody

[2019-06-21 12:53] zhansingsong opened #329 "Explain 'Task' in Performance panel"
<img width="2386" alt="QQ20190621-205055@2x" src="https://user-images.githubusercontent.com/13599801/59923587-59762200-9466-11e9-8ab6-878abe5016a5.png">

Chrome version: 74.0.3729.169

I think it indicates task of Task Queue in Event-Loop.

[2019-07-11 18:40] #199 closed

[2019-10-11 14:50] gaollg opened #330 "Devtools are fixed size and can't be changed with the mouse to change the width and height."
Hello there:
     My Chrome "developer tools" (devtools) are fixed size and can't be changed with the mouse to change the width and height.

Google Chrome Version: 77.0.3865.120

![image](https://user-images.githubusercontent.com/2359462/66661224-35d72180-ec79-11e9-9c29-37e49954c7c9.png)

[2019-11-09 18:05] khyveasna commented on #53
#330

[2019-11-09 18:06] khyveasna commented on #53
``

Hmm well you to make

[2020-02-25 09:43] meooxx commented on #330
<img width="1128" alt="截屏2020-02-25下午5 36 16" src="https://user-images.githubusercontent.com/13815865/75234854-4508d700-57f6-11ea-8346-17818ada739e.png">
Google Chrome
Google Chrome 已是最新版本
版本 80.0.3987.122（正式版本） （64 位）

[2020-06-04 21:32] rusproject opened #332 "Devtools "Workspace" and "Overrides" breaks file encoding"
When file with Cyrillic (UTF-8) is opened with Chrome Devtools with "Local Overrides" enabled, all Cyrillic symbols transforms to unreadable abracadabra. I soon as I can see community [does know](https://bugs.chromium.org/p/chromium/issues/detail?id=596037) about this bug for years, but nobody cares. I have pretty much Cyrillic text in JS files (because of AJAX errors messages, and other things li

[2020-06-05 10:37] Garbee commented on #332
@rusproject The best path is to file a new issue (as said in that thread.) The place to do that is https://crbug.com/new . File it against DevTools and it will be re-triaged and if needed prioritized. There is basically a whole new workflow in place with multiple companies working actively on the DevTools and priorities in various areas have shifted. However, they do not go through the archived is

[2020-06-05 10:50] rusproject commented on #332
@Garbee Thank you! I will do what you just said.

[2020-06-18 10:59] #332 closed, assigned to nobody

[2021-05-12 15:31] nine-2-five opened #333 "Dev tools prevent sleep"
When dev tools are opened in the last couple of Chrome releases, the screen won't turn off and there is no sleep for my Windows 10 laptop.

[code]

[2021-05-12 21:56] Garbee commented on #333
Sounds like a bug report best filed at https://crbug.com/new . This repository is for the documentation (which is now no longer even hosted in favor of another resource) and not about the devtools itself.

[2021-10-21 15:08] BBigLee opened #335 "Regular expression parsing error in console"
![image](https://user-images.githubusercontent.com/13958569/138305909-3eb8f26a-0acf-4d7a-8045-c3d677dcbf7a.png)

[2022-01-12 04:01] jmscxnulleins opened #336 "DEV Tools: Recorder"
Hey,

im testing angular with bs now and theres is a funny feature/bug idk.

If i have a form on my site and want to record this if its FILLED! and delete the content with ctrl/a and change it to another value from the cache it dont show the change it just show the click event in the records.

:peace:

![image](https://user-images.githubusercontent.com/50276354/149061735-3d986182-2428-4222-af13-fa